<!-- section: debt -->
<div class="page-break"></div>

<h2>Debt and pensions</h2>

<p>When you’re able to take money from your pension pot, you should think carefully before using it to pay off any debts or mortgage. Money you use from your pot could leave you with less to live on in the future.</p>
<p>If you have an arrangement to pay your debts at the time you take your pension, creditors may be able to access some or all of the pension income or lump sums you take.</p>

<p class="emphasise">Find out the status of any debt arrangement you have before choosing a pension option.</p>

<h3>Getting help with debt</h3>

<p>If you are considering taking money from your pension to pay off debts, there may be other debt repayment options that should also be considered, and debt advice may be able to help you choose which debt solution best suits your needs.</p>

<p>Take your time when deciding what to do with your pot and don’t rush into a decision. For more information about debt you can speak to the MoneyHelper Money Guidance Helpline (see ‘Additional resources on the MoneyHelper website which may interest you’). There is a lot of useful information about debt management on the MoneyHelper website, and many useful online tools: <a target="_blank" href="https://www.moneyhelper.org.uk/en/money-troubles/dealing-with-debt">moneyhelper.org.uk/en/money-troubles/dealing-with-debt</a></p>

<p>There are lots of free advice services available across the UK. The debt locator tool on the MoneyHelper website can help you find the best type of advice to suit your needs in your country or region. It signposts to telephone and online help - <a target="_blank" href="https://www.moneyhelper.org.uk/en/money-troubles/dealing-with-debt/debt-advice-locator">moneyhelper.org.uk/en/money-troubles/dealing-with-debt/debt-advice-locator</a></p>

<p>Citizens Advice provides free, independent and impartial debt advice - <a target="_blank" rel="external" href="https://www.citizensadvice.org.uk/debt-and-money/">www.citizensadvice.org.uk/debt-and-money</a></p>

<p>Citizens Advice Scotland: You can talk about debt issues with a trained adviser online - <a target="_blank" rel="external" href="https://www.citizensadvice.org.uk/scotland/debt-and-money/">www.citizensadvice.org.uk/scotland/debt-and-money/</a></p>

<p>Support for Northern Ireland - <a target="_blank" rel="external" href="https://www.citizensadvice.org.uk/about-us/northern-ireland/">www.citizensadvice.org.uk/about-us/northern-ireland</a></p>

<h4 class="icon icon--website downshift">Go to our website for more guidance:</h4>

<ul class="list list--arrow">
  <li><a target="_blank" href="https://www.moneyhelper.org.uk/en/pensions-and-retirement/pension-problems/using-your-pension-to-pay-off-debts" class="expanded" data-url="moneyhelper.org.uk/en/pensions-and-retirement/pension-problems/using-your-pension-to-pay-off-debts">Using your pension to pay off debts</a></li>
</ul>
