<!-- section: feedback -->
<div class="page-break"></div>

<h3>Feedback and complaints</h3>

<h4>Feedback about Pension Wise</h4>

<p>You can email Pension Wise at <a target="_blank" href="mailto:contact.pensionwise@moneyhelper.org.uk">contact.pensionwise@moneyhelper.org.uk</a>.</p>

<p>You can also write to us by post:</p>

<p>
Pension Wise<br>
PO Box 10404<br>
Ashby de la Zouch<br>
Leicestershire<br>
LE65 9EH
</p>

<p>
Where possible please include your booking reference number (you’ll find this
in your appointment confirmation email).
</p>

<h4>Complaints</h4>

<p>
If you have a complaint about Pension Wise, please email
<a target="_blank" href="mailto:pensionwise.complaints@moneyhelper.org.uk">pensionwise.complaints@moneyhelper.org.uk</a> or use the <a target="_blank" href="https://www.moneyhelper.org.uk/pensionwise-complaints">complaints form</a>.
</p>

<p>
We’ll let you know when we’ve received your complaint and aim to give a full
response within 20 working days. If we can’t do this (e.g. if we need more time
to investigate your complaint) we’ll let you know the reason for the delay and
when you can expect a response.
</p>
