<!-- section: feedback -->
<div class="page-break"></div>

<h3>Feedback and complaints</h3>

<h4>Feedback about Pension Wise</h4>

<p>You can email Pension Wise at <a target="_blank" href="mailto:contact.pensionwise@moneyhelper.org.uk">contact.pensionwise@moneyhelper.org.uk</a>.</p>

<p>You can also write to us by post:</p>

<p>
Money and Pensions Service<br>
Pension Wise (MoneyHelper)<br>
Borough Hall<br>
138 Cauldwell Street<br>
Bedford MK42 9AB
</p>

<p>
Where possible please include your booking reference number (you’ll find this
in your appointment confirmation email).
</p>

<h4>Complaints</h4>

<p>
If you have a complaint about Pension Wise, please email <a target="_blank" href="mailto:complaints@maps.org.uk">complaints@maps.org.uk</a>.
</p>
<p>
Please provide as much detail as you can, including:
  <ul>
    <li>whether your complaint is about a phone appointment, face-to-face appointment or anything else</li>
    <li>your booking reference number, if you have one (you’ll find this in your confirmation email)</li>
  </ul>
</p>
<p>
We’ll let you know when we’ve received your complaint and aim to give a full
response within 20 working days. If we can’t do this, (eg, if we need more time
to investigate your complaint) we’ll let you know the reason for the delay and
when you can expect a response.
</p>
