<!-- section: further guidance -->
<div class="page-break"></div>

<h2>Further free and impartial guidance</h2>

<h3>The Money Advice Service</h3>
<p>For help with annuities, debt, and finding a financial adviser.</p>

<p class="reference icon icon--website"><a href="https://www.moneyadviceservice.org.uk">moneyadviceservice.org.uk</a></p>
<p class="reference icon icon--phone">
  0300 500 5000
</p>

<p>From outside the UK:</p>
<p class="reference icon icon--phone pull">
  +44 144 382 7658
</p>


<h3>Citizens Advice</h3>
<p>For help with benefits and debt.</p>

<p class="reference icon icon--website"><a href="https://www.citizensadvice.org.uk">citizensadvice.org.uk</a></p>

<p class="reference icon icon--phone">
  England: 03444 111 444<br>
  Wales: 03444 77 2020<br>
  Scotland: 0808 800 9060
</p>

<p class="reference icon icon--website no-bottom-margin">Northern Ireland: <a href="http://www.citizensadvice.co.uk">citizensadvice.co.uk</a></p>

<p>To call your local bureau directly, find it on<br><b><a href="http://www.citizensadvice.co.uk/pages/bureaux/">citizensadvice.co.uk/pages/bureaux/</a></b></p>

<% if large_text? %>
  <div class="page-break"></div>
<% end %>

<h3>The Pensions Advisory Service</h3>
<p>For help with avoiding scams, the State Pension and final salary or career average pensions.</p>

<p class="reference icon icon--website"><a href="http://www.pensionsadvisoryservice.org.uk">pensionsadvisoryservice.org.uk</a></p>
<p class="reference icon icon--phone">
  0300 123 1047
</p>

<p>From outside the UK:</p>
<p class="reference icon icon--phone">
  +44 207 932 5780
</p>
