<!-- section: further guidance -->
<div class="page-break"></div>

<h2>Further free and impartial guidance</h2>

<h3>The Money Advice Service</h3>
<p>For help with annuities, debt, and finding a financial adviser.</p>

<p class="reference icon icon--website">moneyadviceservice.org.uk</p>
<p class="reference icon icon--phone">Phone: 0300 500 5000</p>


<h3>Citizens Advice</h3>
<p>For help with benefits and debt.</p>

<p class="reference icon icon--website">citizensadvice.org.uk</p>

<p class="reference icon icon--phone">
  England: 03444 111 444<br>
  Wales: 03444 77 2020<br>
  Scotland: 0808 800 9060
</p>

<p class="reference icon icon--website no-bottom-margin">Northern Ireland: citizensadvice.co.uk</p>

<p>To call your local bureau directly - find it on<br><b>citizensadvice.co.uk/pages/bureaux</b></p>

<h3>The Pensions Advisory Service</h3>
<p>For help with the State Pension and final salary or career average pensions.</p>

<p class="reference icon icon--website">pensionsadvisoryservice.org.uk</p>
<p class="reference icon icon--phone">Phone: 0300 123 1047</p>
