<!-- section: further guidance -->
<div class="page-break"></div>

<h3>Additional resources on the MoneyHelper website which may interest you</h3>

<h4>MoneyHelper</h4>

<p>
Pension Guidance helpline<br>
Phone: 0800 011 3797<br>
From overseas: +44 20 7932 5780<br>
For self-employed: 0345 602 7021
</p>

<p>
Money Guidance helpline<br>
Phone: 0800 138 7777<br>
Welsh: 0800 138 0555<br>
From overseas: +44 20 3553 2279
</p>

<p>
  Money Navigator Tool<br>
  <a target="_blank" rel="external" href="https://www.moneyhelper.org.uk/en/money-troubles/coronavirus/money-navigator-tool">moneyhelper.org.uk/en/money-troubles/coronavirus/money-navigator-tool</a><br>
  Annuity Comparison Tool<br>
  <a target="_blank" rel="external" href="https://comparison.moneyhelper.org.uk/en/tools/annuities">comparison.moneyhelper.org.uk/en/tools/annuities</a><br>
  Retirement adviser directory<br>
  <a target="_blank" rel="external" href="https://www.moneyhelper.org.uk/en/pensions-and-retirement/taking-your-pension/use-our-tool-to-find-a-retirement-adviser">moneyhelper.org.uk/en/pensions-and-retirement/taking-your-pension/use-our-tool-to-find-a-retirement-adviser</a><br>
  Pension Drawdown Investment Pathways Tool<br>
  <a target="_blank" rel="external" href="https://comparison.moneyhelper.org.uk/en/tools/drawdown-investment-pathways">comparison.moneyhelper.org.uk/en/tools/drawdown-investment-pathways</a><br>
  Retirement budget planning<br>
  <a target="_blank" rel="external" href="https://www.moneyhelper.org.uk/en/pensions-and-retirement/building-your-retirement-pot/check-the-progress-of-your-pension-and-retirement-savings">moneyhelper.org.uk/en/pensions-and-retirement/building-your-retirement-pot/check-the-progress-of-your-pension-and-retirement-savings</a><br>
  Pension calculator<br>
  <a target="_blank" rel="external" href="https://www.moneyhelper.org.uk/en/pensions-and-retirement/pensions-basics/use-our-pension-calculator">moneyhelper.org.uk/en/pensions-and-retirement/pensions-basics/use-our-pension-calculator</a><br>
  Coronavirus and your money<br>
  <a target="_blank" rel="external" href="https://www.moneyhelper.org.uk/en/money-troubles/coronavirus">moneyhelper.org.uk/en/money-troubles/coronavirus</a>
</p>

<p>
For general pension queries and complaints, including help avoiding pension
scams and saving into a pension scheme. Debt and borrowing, budgeting and
managing money, saving and investing, pensions and retirement, work and
redundancy, benefits, births, deaths and family, insurance, homes and
mortgages, care and disability, cars and travel.
</p>
<hr class="guidance">

<h3>Other trusted sources of free and impartial guidance</h3>

<h4>Citizens Advice</h4>
<p>
  England & Wales<br>
  <a target="_blank" rel="external" href="https://www.citizensadvice.org.uk">www.citizensadvice.org.uk</a><br>
  Phone:<br>
  0800 144 8848 (England)<br>
  0800 702 2020 (Wales)<br><br>

  Northern Ireland<br>
  <a target="_blank" rel="external" href="https://www.citizensadvice.org.uk/about-us/northern-ireland/">www.citizensadvice.org.uk/about-us/northern-ireland/</a><br><br>

  Scotland<br>
  <a target="_blank" rel="external" href="https://www.cas.org.uk">www.cas.org.uk</a><br>
  Phone: 0800 028 1456
</p>
<p>For debt, social care, state benefits, employment rights, consumer rights, relationships, housing, discrimination and tax.</p>
<hr class="guidance">

<h4>Pensions and Lifetime Savings Association (PLSA)</h4>
<p>
  <a target="_blank" rel="external" href="https://retirementlivingstandards.org.uk">retirementlivingstandards.org.uk</a>
</p>
<p>To help savers think in a practical way about the kind of lifestyle they might lead in retirement.</p>
<hr class="guidance">

<h4>Pensions Ombudsman</h4>
<p>
  <a target="_blank" rel="external" href="https://www.pensions-ombudsman.org.uk">www.pensions-ombudsman.org.uk</a><br>
  Phone: 0800 917 4487
</p>
<p>Complaints about the maladministration of pensions.</p>
<hr class="guidance">

<h4>Financial Ombudsman</h4>
<p>
  <a target="_blank" rel="external" href="https://www.financial-ombudsman.org.uk">www.financial-ombudsman.org.uk</a><br>
  Phone: 0800 023 4567
</p>
<p>Complaints about the sales and marketing of pensions.</p>
<hr class="guidance">

<h4>Action Fraud</h4>
<p>
  <a target="_blank" rel="external" href="https://www.actionfraud.police.uk">www.actionfraud.police.uk</a><br>
  Phone: 0300 123 2040
</p>
<p>For information on scams or to report a scam.</p>
<hr class="guidance">

<h4>HM Revenue and Customs</h4>
<p>
  <a target="_blank" rel="external" href="https://www.gov.uk/contact-hmrc">www.gov.uk/contact-hmrc</a><br>
  Phone: 0300 200 3300
</p>
<p>Self Assessment, tax credits, child benefit, income tax, national insurance, tax for employers, VAT and other guidance.</p>
<hr class="guidance">

<h4>Financial Conduct Authority (FCA)</h4>
<p>
  <a target="_blank" rel="external" href="https://www.fca.org.uk">www.fca.org.uk</a><br>
  Phone: 0800 111 6768
</p>
<p>Useful information on scams</p>
<p>
Check the FCA register to see if a firm or adviser is regulated<br>
<a target="_blank" rel="external" href="https://www.fca.org.uk/register">www.fca.org.uk/register</a><br>
Check list of unauthorised schemes and individuals to avoid<br>
<a target="_blank" rel="external" href="https://www.fca.org.uk/scamsmart/warning-list/search">www.fca.org.uk/scamsmart/warning-list/search</a>
</p>
<hr class="guidance">

<h4>GOV.UK</h4>
<p>
  <a target="_blank" rel="external" href="https://www.gov.uk">www.gov.uk</a><br>
  <a target="_blank" rel="external" href="https://www.gov.uk/check-state-pension">www.gov.uk/check-state-pension</a><br>
  <a target="_blank" rel="external" href="https://www.gov.uk/find-pension-contact-details">www.gov.uk/find-pension-contact-details</a><br>
  <a target="_blank" rel="external" href="https://www.gov.uk/state-pension-age">www.gov.uk/state-pension-age</a><br>
  <a target="_blank" rel="external" href="https://www.gov.uk/estimate-income-tax">www.gov.uk/estimate-income-tax</a><br>
  <a target="_blank" rel="external" href="https://www.gov.uk/tax-on-pension/tax-when-you-live-abroad">www.gov.uk/tax-on-pension/tax-when-you-live-abroad</a><br>
  <a target="_blank" rel="external" href="https://www.gov.uk/tax-uk-income-live-abroad/taxed-twice">www.gov.uk/tax-uk-income-live-abroad/taxed-twice</a><br>
  <a target="_blank" rel="external" href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-and-capital-gains-tax-enquiries-for-non-uk-residents">www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-and-capital-gains-tax-enquiries-for-non-uk-residents</a><br>
  Phone:<br>
  0800 731 0175 (Future Pension Centre)<br>
  0800 731 0193 (Pension Tracing Service)
</p>
<p>
  State pension, tracing a pension, tax credits, births, deaths, marriages,
  divorce, lasting power of attorney, employment & self-employment, childcare
  and parenting, disabled people, housing and Local services, money and tax,
  passports, travel and living abroad.
</p>
<hr class="guidance">

<h4>MIND</h4>
<p>
  <a target="_blank" rel="external" href="https://www.mind.org.uk">www.mind.org.uk</a><br>
  Phone: 0300 123 3393
</p>
<p>
  Types of mental health problems, where to get help, medication and alternative treatments and advocacy.
</p>
<hr class="guidance">

<h4>Samaritans</h4>
<p>
  <a target="_blank" rel="external" href="https://www.samaritans.org">www.samaritans.org</a><br>
  Phone: 116 123 (UK)<br>
  Email: <a target="_blank" rel="external" href="mailto:jo@samaritans.org">jo@samaritans.org</a>
</p>
<p>Samaritans offer a safe place for people to talk any time they like, in their own way – about whatever’s getting to them. They don’t have to be suicidal to get in touch.</p>
<hr class="guidance">

<h4>Alzheimers Society</h4>
<p>
  <a target="_blank" rel="external" href="https://www.alzheimers.org.uk">www.alzheimers.org.uk</a><br>
  Phone: 0330 333 0804
</p>
<p>Dementia, daily living, help with care, staying independent, legal and financial.</p>
<hr class="guidance">

<h3>Privacy Notice</h3>
<p>
Information on how MoneyHelper collects, processes and stores your data, and
information on your rights in relation to the data we hold can be found at
<a target="_blank" rel="external" href="https://www.moneyhelper.org.uk/privacy">moneyhelper.org.uk/privacy</a>.
</p>
