<!-- section: detail about each option -->

<!-- option: untouched -->
<div class="page-break"></div>
<h2 class="option option--untouched">Leave your pot untouched</h2>

<h3>Key facts</h3>

<ol class="ordered-list">
  <li>While the money stays in your pot you don’t pay tax on it.</li>
  <li>It’s up to you when you take the money out – the earliest is usually aged 55,unless you have a serious illness.</li>
  <li>If someone contacts you unexpectedly about getting money out of your pot before you’re 55, it’s nearly always a pension scam.</li>
  <li>You can also still pay into your pot but there may be restrictions. If you’re an employee your employer might continue to make contributions too.</li>
  <li>Money left untouched can be passed on when you die.</li>
</ol>

<hr>

<h3>Next steps</h3>
<h4 class="pull icon icon--questions">Questions to ask your provider:</h4>

<ul class="list list--questions">
  <li>Do I have to take the money by a certain date?</li>
  <li>What are the charges for continuing to leave my pot untouched?</li>
  <li>How much is the pot likely to grow or go down each year?</li>
  <li>How is the money invested and can I change this if I want?</li>
  <li>How much can I still pay in?</li>
  <li>Does my pot have any special features which could mean I get a better deal, eg a guaranteed annuity rate?</li>
  <li>Do you have up-to-date details of who I want to leave my pot to (my ‘beneficiary’) when I die?</li>
</ul>

<h4 class="icon icon--website">Go to our website for more guidance on:</h4>

<ul class="list list--arrow">
  <li>Leaving your pot untouched.</li>
</ul>
<!-- /option: untouched -->

<!-- option: annuity -->
<!-- /option: annuity -->

<!-- option: adjustable -->
<!-- /option: adjustable -->

<!-- option: chunks -->
<!-- /option: chunks -->

<!-- option: whole -->
<!-- /option: whole -->

<!-- option: mix -->
<!-- /option: mix -->
