<!-- section: detail about each option -->

<!-- option: untouched -->
<div class="page-break"></div>
<h2 class="option option--untouched">Leave your pot untouched</h2>

<h3>Key facts</h3>

<ol class="ordered-list">
  <li>While the money stays in your pot you don’t pay tax on it.</li>
  <li>It’s up to you when you take the money out – the earliest is usually aged 55, unless you have a serious illness.</li>
  <li>If someone contacts you unexpectedly about getting money out of your pot before you’re 55, it’s nearly always a pension scam.</li>
  <% if appointment_50_54? %>
    <!-- section: warning about leaving pot beyond selected retirement age -->
    <li>You may still be able to pay into your pot but you could be charged for leaving your pot beyond your ‘selected retirement age’ – the age you agreed to retire with your provider.</li>
  <% else %>
    <li>You can also still pay into your pot but there may be restrictions. If you’re an employee your employer might continue to make contributions too.</li>
  <% end %>
  <li>Money left untouched can be passed on when you die.</li>
</ol>

<hr>

<div class="next-steps next-steps--leave-pot-untouched">
  <h3>Next steps</h3>
  <h4 class="pull icon icon--questions">Questions to ask your provider:</h4>

  <ul class="list list--questions">
    <% if appointment_50_54? %>
      <li>Have I agreed a retirement age with you? What is it?</li>
      <li>Will I pay extra fees if I leave my pot untouched when I reach my selected retirement age?</li>
    <% else %>
      <li>Do I have to take the money by a certain date?</li>
      <li>What are the fees for continuing to leave my pot untouched?</li>
    <% end %>
    <li>How much is the pot likely to grow or go down each year?</li>
    <li>How is the money invested and can I change this if I want?</li>
    <li>How much can I still pay in?</li>
    <li>Does my pot have any special features like a guaranteed annuity rate? (see ‘Getting started’)</li>
    <li>Do you have up-to-date details of who I want to leave my pot to (my ‘beneficiary’) when I die?</li>
  </ul>
</div>

<h4 class="icon icon--website downshift">Go to our website for more guidance on:</h4>

<ul class="list list--arrow">
  <li>Leaving your pot untouched.</li>
</ul>
<!-- /option: untouched -->



<!-- option: annuity -->
<div class="page-break"></div>
<h2 class="option option--annuity">Get a guaranteed income (annuity)</h2>

<h3>Key facts</h3>

<ol class="ordered-list">
  <li>This is a type of insurance product which gives you a guaranteed income.</li>
  <li>You can shop around for an annuity – you don’t have to buy one from your current pension provider.</li>
  <li>You can buy an annuity for a fixed term or for the rest of your life.</li>
  <li>You can take up to 25% of your pot tax free – if you do this you must buy an annuity with the remaining 75% within 6 months or use one of the other options.</li>
  <li>If you’re currently receiving a pension income it’s likely that you’ve already bought an annuity or are taking an income from a final salary or career average (defined benefit) pension.</li>
  <li>There are many different types of annuity and it’s important you get the right one for you.</li>
</ol>

<hr>

<div class="next-steps next-steps--guaranteed-income">
  <h3>Next steps</h3>
  <h4 class="pull icon icon--questions">Questions to ask your provider:</h4>

  <ul class="list list--questions">
    <li>Does my pot have any special features like a guaranteed annuity rate? (see ‘Getting started’)</li>
    <li>Do I qualify for an enhanced or impaired annuity? You’ll need to tell your provider if you smoke or have a medical condition</li>
    <li>Which types of annuity do you offer?</li>
  </ul>
</div>

<% if standard_text? %>
  <div class="page-break"></div>
<% end %>

<h4 class="icon icon--website downshift">Go to our website for more guidance on:</h4>

<ul class="list list--arrow">
  <li>The different types of annuity</li>
  <li>Why it’s important to be upfront about your health</li>
  <li>Understanding how much tax you may pay on your annuity income</li>
  <li>Pension recycling tax laws</li>
</ul>
<!-- /option: annuity -->




<!-- option: adjustable -->
<div class="page-break"></div>
<h2 class="option option--adjustable">Get an adjustable income</h2>

<h3>Key facts</h3>

<ol class="ordered-list">
  <li>You get an income from your pot which is taxable. You decide how much to take out and when, and how long you want it to last.</li>
  <li>You can take up to 25% of your pot tax free – if you do this, you must move the remaining 75% into an adjustable income product within 6 months or use one of the other options.</li>
  <li>You’re likely to be involved in choosing and managing your investments.</li>
  <li>As with all investments, the value of your pot can go up or down.</li>
  <li>You may still be able to pay into your pot but there may be restrictions.</li>
  <li>This option is also known as ‘flexi-access drawdown’.</li>
  <li>You may be able to keep paying in after you take money out but you could pay tax on contributions over £4,000 a year (known as the ‘money purchase annual allowance’).</li>
</ol>

<p class="emphasise">You can’t take the cash in chunks option later if you choose this option because you will have already taken your full tax-free lump sum.</p>

<hr>

<div class="next-steps next-steps--adjustable-income">
  <h3>Next steps</h3>
  <h4 class="pull icon icon--questions">Questions to ask your provider:</h4>

  <ul class="list list--questions">
    <li>Do you offer flexi-access drawdown?</li>
    <li>Will I have to pay any fees, eg each time I take a payment?</li>
    <li>How much could my pot grow or go down? Some providers now offer products which include guarantees</li>
    <li>Will you charge me a fee if I move my pot to a provider that offers this option?</li>
    <li>Does my pot have any special features like a guaranteed annuity rate? (see ‘Getting started’)</li>
  </ul>
</div>

<% unless large_text? %>
  <div class="page-break"></div>
<% end %>

<h4 class="icon icon--website downshift">Go to our website for more guidance on:</h4>

<ul class="list list--arrow">
  <li>Shopping around for quotes from other providers</li>
  <li>Finding out how much tax you would pay on any money you’re planning to take out</li>
  <li>Getting financial advice</li>
  <li>Pension recycling tax laws</li>
</ul>
<!-- /option: adjustable -->



<!-- option: chunks -->
<div class="page-break"></div>
<h2 class="option option--chunks">Take cash in chunks</h2>

<h3>Key facts</h3>

<ol class="ordered-list">
  <li>Instead of taking your whole pot in one go, you take smaller chunks over time. 25% of each chunk you take out is tax free and the rest is taxable.</li>
  <li>The chunks of cash you take get taxed along with any other income you have, eg from work, savings or investments.</li>
  <li>You’re likely to be involved in choosing and managing your investements.</li>
  <li>You can spread the chunks out over multiple tax years to reduce your income which could mean you pay less tax.</li>
  <li>Providers may describe this option as ‘Uncrystallised Funds Pension Lump Sum’ (UFPLS).</li>
  <li>You may be able to keep paying in after you take money out but you could pay tax on contributions over £4,000 a year (known as the ‘money purchase annual allowance’).</li>
</ol>

<p class="emphasise">If you invest your pot into flexi-access drawdown, you won’t be able to take any more tax-free cash and can’t use this option.</p>

<hr>

<div class="next-steps next-steps--take-cash-in-chunks">
  <h3>Next steps</h3>
  <h4 class="pull icon icon--questions">Questions to ask your provider:</h4>

  <ul class="list list--questions">
    <li>Do you offer ‘Uncrystallised Funds Pension Lump Sum’ (UFPLS)?</li>
    <li>Will you charge me a fee if I move my pot to a provider that offers this option?</li>
    <li>Does my pot have any special features like a guaranteed annuity rate? (see ‘Getting started’)</li>
  </ul>
</div>

<% unless large_text? %>
  <div class="page-break"></div>
<% end %>

<h4 class="icon icon--website downshift">Go to our website for more guidance on:</h4>

<ul class="list list--arrow">
  <li>Shopping around for quotes from other providers</li>
  <li>Finding out how much tax you would pay on any money you’re planning to take out</li>
  <li>Getting financial advice</li>
</ul>
<!-- /option: chunks -->



<!-- option: whole -->
<div class="page-break"></div>
<h2 class="option option--whole">Take your whole pot in one go</h2>

<h3>Key facts</h3>

<ol class="ordered-list">
  <li>If you take your whole pension pot in one go 25% is tax free and the remaining 75% is taxable.</li>
  <li>The money from your pot will be added to any other income you have over the tax year.</li>
  <li>Adding a large cash sum to your income could put you in a higer tax band.</li>
  <li>You can take up to 3 small pots of up to £10,000 without it counting towards your annual or lifetime tax allowance.</li>
  <li>Taking your whole pot in one go could affect your entitlement to benefits.</li>
  <li>You may be able to keep paying in after you take money out but you could pay tax on contributions over £4,000 a year (known as the ‘money purchase annual allowance’).</li>
</ol>

<p class="emphasise">
  You should think about this option carefully. Once you’ve taken the money out you can’t change the decision and you lose the tax-free status it had while in your pot.
</p>
<p class="emphasise">You need to be aware of ‘pension recycling’ tax laws if you plan to cash in one pot and pay into another. </p>

<hr>

<div class="next-steps next-steps--whole-pot">
<h3>Next steps</h3>
  <h4 class="pull icon icon--questions">Questions to ask your provider:</h4>

  <ul class="list list--questions">
    <li>Can I take my whole pot in one go?</li>
    <li>Will you charge me a fee if I move my pot to a provider that offers this option?</li>
  </ul>
</div>

<% if standard_text? %>
  <div class="page-break"></div>
<% end %>

<h4 class="icon icon--website">Go to our website for more guidance on:</h4>

<ul class="list list--arrow">
  <li>How much income you’ll need in future years of retirement</li>
  <li>How much tax you would pay if you took your whole pot in one go</li>
  <li>Speaking to a financial adviser first if you want to reinvest the money</li>
  <li>How to avoid a pension scam</li>
  <li>Your pension when you die</li>
</ul>
<!-- /option: whole -->



<!-- option: mix -->
<div class="page-break"></div>
<h2 class="option option--mix">Mix your options</h2>

<h3>Key facts</h3>

<ol class="ordered-list">
  <li>You can mix your options, eg use some of your pot to get an adjustable income and some to buy an annuity.</li>
  <li>Not all providers offer all the options.</li>
  <li>If you have more than one pot, you can use different options for each pot, eg leave one untouched and take cash in chunks from another.</li>
</ol>

<% if standard_text? %>
  <hr>
<% end %>

<div class="next-steps next-steps--mix-options">
  <h3>Next steps</h3>
  <h4 class="pull icon icon--questions">Questions to ask your provider:</h4>

  <ul class="list list--questions">
    <li>Which pension options do you offer?</li>
    <li>Can I mix some of the options together?</li>
    <li>Will you charge me a fee if I move my pot to a provider that offers the options I want?</li>
  </ul>
</div>

<h4 class="icon icon--website downshift">Go to our website for more guidance on:</h4>

<ul class="list list--arrow">
  <li>All the pension options to see which ones are right for you</li>
  <li>Speaking to a financial adviser – mixing different options can be complicated</li>
  <li>Shopping around for the best deal – you don’t have to stay with your current provider</li>
</ul>
<!-- /option: mix -->
