<!-- section: getting started -->
<h2>Getting started</h2>

<p class="summary">This document is a summary of your defined contribution pension options. This is your personal or workplace pension and is based on how much has been paid into your pot.</p>

<p class="emphasise">This is not a final salary or career average pension.</p>

<p>You may have more than one defined contribution pension pot. You can choose different options for each pot.</p>

<p>Your pension may have a special feature, eg a guaranteed annuity rate which may offer better value than annuities available elsewhere. This could mean that getting a guaranteed income is the right option for you.</p>

<p>Before you decide on a pension option, ask your provider if your pension has any special features or restrictions. </p>

<p>Most people are entitled to the State Pension. If you’re not already claiming the State Pension, you can go to GOV.UK for information on how to apply for your State Pension statement.</p>

<h3>What you’ll find on pensionwise.gov.uk</h3>
<p>The Pension Wise website explains your pension options and how to make the best use of your money. Before you decide on a pension option go to pensionwise.gov.uk for detailed information about:</p>

<ul class="list">
  <li>Tax you pay on your pension</li>
  <li>Working out how much money you’ll have now and in retirement</li>
  <li>Planning how long your money needs to last</li>
  <li>How your pension could affect your entitlement to benefits</li>
  <li>How to avoid a pension scam</li>
</ul>

<p>If you can’t use our website you can get pensions help from The Pensions Advisory Service or call Citizens Advice to find your nearest Pension Wise location (see ‘Further free and impartial guidance’).</p>
