<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="keywords" content="<%= keywords.join(', ') %>"/>
  <%= stylesheet('output_document') %>

  <title>Pension Wise Summary Document</title>
</head>
<body class="output-document <%= kind %>">
  <div class="theme <%= theme %>">
