<!-- section: inheritance tax -->
<div class="page-break"></div>

<h2>Tax when your pension pot is inherited</h2>

<h3 class="icon icon--goal">The following tax rules apply to delaying taking your pension pot, taking your pension as a number of lump sums, and getting a flexible retirement income (pension drawdown).</h3>

<h4>You die before 75</h4>
<p>There’s no tax to pay if the person you leave your money to (your ‘beneficiary’) claims it within 2 years. They can take a lump sum or get an income from it.</p>

<p>You’ll usually pay tax on lump sums over the lump sum and death benefit allowance (LSDBA) (£1,073,100 in 2025/26).</p>

<h4>You die at 75 or over</h4>
<p>Your beneficiary will pay Income Tax on lump sums and any income they take from the investments. They’ll usually pay tax on a UK pension even if they live abroad.</p>

<h3 class="icon icon--goal">The following tax rules apply to certain types of annuity which you can pass on when you die.</h3>

<h4>You die before 75</h4>
<p>Any income or lump sum payments are normally tax free. You’ll usually pay tax on lump sums over the lump sum and death benefit allowance (LSDBA) (£1,073,100 in 2025/26).</p>

<h4>You die at 75 or over</h4>
<p>Any income or lump sum payments made to your beneficiaries are taxed at their marginal rate.</p>

<% unless large_text? %>
  <div class="page-break"></div>
<% end %>

<hr>

<h3 class="icon icon--goal">The following tax rules apply to taking your whole pension in one go</h3>
<p>No matter when you die the money you pass on is part of your estate (money, property and possessions).</p>

<p>Inheritance Tax is payable if your estate is worth more than £325,000 when you die. This is called the ‘Inheritance Tax threshold’ and can be worth up to £650,000 for married couples or civil partners. The standard rate is 40%.</p>

<% if large_text? %>
  <div class="page-break"></div>
<% else %>
  <hr>
<% end %>

<h3>Next steps</h3>
<h4 class="pull icon icon--help">Things to consider:</h4>

<ul class="list list--questions">
  <li>Think about how you want to leave money behind.</li>
  <li>Think about the most tax-efficient way of leaving your money – you can speak to a financial adviser for help with this.</li>
</ul>

<h4 class="icon icon--questions downshift">Questions to ask your provider:</h4>
<ul class="list list--questions">
  <li>Do you have up-to-date details of who I want to leave my money to (my ‘beneficiary’) when I die?</li>
</ul>

<h4 class="icon icon--website downshift">Go to our website for more guidance on:</h4>
<ul class="list list--arrow">
  <li><a target="_blank" href="https://www.moneyhelper.org.uk/en/family-and-care/death-and-bereavement/a-guide-to-inheritance-tax" class="expanded" data-url="moneyhelper.org.uk/en/family-and-care/death-and-bereavement/a-guide-to-inheritance-tax">Inheritance tax</a></li>
</ul>
