<!-- section: options overview -->
<div class="page-break"></div>

<h2>The 6 options discussed in the appointment</h2>

<h3 class="option option--untouched">Leave your pot untouched</h3>

<p>You don’t have to take money from your pension pot straight away. You can leave your money invested and take it when you’re ready. Your pot could grow further and give you a larger amount of money to last for a shorter amount of time. You may also have greater choice in the future if pension providers introduce new products.</p>

<h3 class="option option--annuity">Get a guaranteed income (annuity)</h3>
<p>This is an insurance policy you buy to give you a guaranteed income, normally for the rest of your life or for a fixed number of years. You can take up to 25% of your pot tax free before you buy an annuity. There are different types of annuities and it’s important you buy the right one for you.</p>

<h3 class="option option--adjustable">Get an adjustable income</h3>
<p>You can take up to 25% of your pot tax free. The rest is invested to give you a regular, taxable income. You decide how much you take out each year and how long you want your money to last. You’re likely to be actively involved in managing your money. Pension providers may describe this option as 'flexi-access drawdown'.</p>

<h3 class="option option--chunks">Take cash in chunks</h3>
<p>Your pot stays where it is and you take smaller chunks over time - 25% of each amount you take out is tax free and the rest is taxable. You can spread the chunks out over multiple tax years which could mean you pay less tax. Pension providers may describe this option as ‘Uncrystallised Funds Pension Lump Sum’ (UFPLS).</p>

<h3 class="option option--whole">Take your whole pot in one go</h3>
<p>You can take your whole pension pot in one go - 25% is tax free and the other 75% is taxed along with any other income you have, eg from work, savings or investments.</p>

<h3 class="option option--mix">Mix your options</h3>
<p>You can mix your options, eg use some of your pot to get an adjustable income and some to buy an annuity. If you have more than one pot, you can choose different options for each one, eg leave one pot untouched and take cash in chunks from another.</p>

<p class="emphasise">You may pay emergency tax when you take money from your pot. You can claim this back from HM Revenue and Customs - search for ‘emergency tax’ on GOV.UK or call 0300 200 3300.</p>

<p>You can find out more about the 6 options on the Pension Wise website.</p>
