<!-- section: pension tax rules -->
<div class="page-break"></div>

<h2>Further information on Pension Tax Rules</h2>

<h3>Lifetime allowance and lump sum allowances</h3>

<p>The lifetime allowance (LTA) was a limit on the total amount of pension benefits you could accumulate over your lifetime, without incurring additional tax charges.</p>
<p>Most people were not affected by this as it only applied where the value of all your pension pots was over £1,073,100, which was the limit for the tax year ending 5 April 2024.</p>
<p>The LTA was abolished with effect from 6 April 2024. From the same date, new allowances were introduced which limit the maximum tax-free cash that can be paid by pension schemes.</p>
<p>The lump sum allowance (LSA) limits the maximum tax-free cash payable in your lifetime when taking money from a pension to £268,275 for most people, unless certain protections apply.</p>
<p>The lump sum and death benefit allowance (LSDBA) limits the total amount of tax-free cash payable in your lifetime and on your death to £1,073,100 for most people, unless certain protections apply.</p>
<p>Under transitional arrangements, tax-free lump sums paid out before 6 April 2024 use up part of your LSA and LSDBA. Lump sums paid over these allowances are subject to income tax at the recipient’s marginal rate.</p>
<p>You could consider taking specialist pension advice from a regulated financial adviser if you want advice, or you can get further information on our website <a href="https://www.moneyhelper.org.uk/en/pensions-and-retirement/building-your-retirement-pot/lifetime-allowance-for-pension-savings" target="_blank">moneyhelper.org.uk/en/pensions-and-retirement/building-your-retirement-pot/lifetime-allowance-for-pension-savings</a> or call the MoneyHelper Pension Helpline 0800 011 3797.</p>


<h3>Money Purchase Annual Allowance (MPAA)</h3>

<p>Some of the pension payment options will limit your ability to receive tax relief on any future contributions you (or your employer) pay. Before you make a final decision on withdrawing money you should consider that taking your pension as a number of lump sums, cashing in pots worth more than £10,000, taking money from a pension drawdown plan and setting up a fixed term annuity reduce the total amount of tax relief you’ll receive on pension contributions to a Defined Contribution pension from £60,000 per annum to £10,000 per annum.</p>
<p>Buying a lifetime annuity does not trigger the MPAA. Nor does only taking tax-free cash when setting up a pension drawdown plan. It is only when you draw taxable money from the pension drawdown plan that the MPAA is triggered.</p>

<h3>Pension Recycling</h3>

<p>If you’re planning to take your tax-free lump sum when buying a guaranteed or flexible retirement income and pay into the same pension pot or another one, you need to be aware of ‘pension recycling’ laws. These rules do not apply to taking your pension as a number of lump sums or taking your whole pension in one go.</p>
<p>It could be pension recycling if you intend to use the tax-free lump sum to pay into a pension to get tax relief.</p>
<p>The rules can result in you paying 55% tax on the whole tax-free lump sum. Pension recycling will not normally be applicable where the total tax-free cash taken from all your pots in a 12 month period is under £7,500. If you are taking tax-free cash over this amount you could consider taking financial advice if you’re thinking of increasing your pension contributions within 2 tax years before or after taking the lump sum.</p>

<p>For more information see: <a target="_blank" rel="external" href="https://www.gov.uk/hmrc-internal-manuals/pensions-tax-manual/ptm133810">gov.uk/hmrc-internal-manuals/pensions-tax-manual/ptm133810</a>.
