<!-- section: scams -->
<div class="page-break"></div>

<h2>Watch out for pension scams</h2>

<p>Your pensions are valuable. Scammers are out to take your pension money. Here’s some warning signs to look out for to keep you one step ahead of the fraudsters:</p>

<ul class="list">
  <li>Scammers often contact you out of the blue. This is often by social media or website pop-up adverts, text, email, post or phone. You might be asked to provide your phone number and you’ll receive a call back by an ‘adviser’. They might offer ‘FREE PENSION REVIEWS’, upfront cash incentives, one-off investments, ‘legal loopholes’ or 'government initiatives'. Ignore all unexpected contact or adverts about pensions even if the person seems friendly and professional and knows some information about you.</li>
  <li>Just so you know, the government has banned cold calling by phone about pensions.  If someone calls you out of the blue about your pension, the call is illegal and likely to be a fraudster. You should end the call immediately and alert the Information Commissioner’s Office (ICO) – <a target="_blank" rel="external" href="https://ico.org.uk/make-a-complaint/nuisance-calls-and-messages">ico.org.uk/make-a-complaint/nuisance-calls-and-messages</a></li>
  <li>A slick website or glossy marketing material does not mean a firm is safe to deal with even if it looks genuine. Check if the firm you are dealing with is genuine by contacting the Financial Conduct Authority (FCA) before giving any personal information away. You can contact the FCA on 0800 111 6768 or <a target="_blank" rel="external" href="https://www.fca.org.uk">www.fca.org.uk</a></li>
  <li>Take your time. Never be rushed into making a decision. Scammers sometimes say offers are time limited and will pressurise you into making quick decisions. They may even send documents to you by courier – you should never rush a decision about your pension money.</li>
  <li>They may tell you your money would be safer if it was moved or cashed in, sometimes impersonating an official from a regulatory authority, your bank or the Fraud Squad for example.</li>
  <li>It’s likely to be a scam if someone says they can help you access your pension money before 55 or offers you an investment described as ‘unique’, ‘overseas’, ‘environmentally friendly’, ‘ethical’ or in a ‘new’ industry.</li>
</ul>

<p class="emphasise">Once you’ve transferred your pension money into a scam, it’s too late. You could lose all your money and face a tax charge up to 55%. Your provider may also charge you fees.</p>

<p>If you think you’ve been the victim of a pension scam call Action Fraud on 0300 123 2040 (+44 300 123 2040 from outside the UK) or report it on their website <a href="https://www.actionfraud.police.uk/reporting-fraud-and-cyber-crime" target="_blank" rel="external">www.actionfraud.police.uk/reporting-fraud-and-cyber-crime</a>. Action Fraud is the fraud and internet crime reporting centre for England, Wales and Northern Ireland. If you’re in Scotland report to Police Scotland directly by phoning 101.</p>

<h4 class="icon icon--website downshift">Go to our website for more guidance on:</h4>
<ul class="list list--arrow">
  <li><a target="_blank" href="https://www.moneyhelper.org.uk/en/money-troubles/scams/how-to-spot-a-pension-scam" class="expanded" data-url="moneyhelper.org.uk/en/money-troubles/scams/how-to-spot-a-pension-scam">How to spot a pension scam and what to do if you’ve been scammed</a></li>
</ul>
