<!-- section: debt -->
<div class="page-break"></div>

<h2>Debt and pensions</h2>
<p>You should think carefully about taking money from your pension pot to pay off debts. Money you take from your pot now could leave you with less to live on in the future.</p>

<p>If you have an arrangement to pay your debts, creditors may be able to access some or all of the pension income or lump sums you take.</p>

<p>This includes money or income from:</p>

<ul class="list">
  <li>An annuity</li>
  <li>Flexi-access drawdown</li>
  <li>Any cash taken in chunks</li>
  <li>Any cash from taking your whole pot in one go</li>
</ul>

<p class="emphasise">Find out the status of any debt arrangement you have before choosing a pension option.</p>

<h3>Getting help with debt</h3>
<p>Take your time when deciding what to do with your pot and don’t rush into a decision. </p>

<p>For more information about debt you can speak to the <a href="https://www.moneyadviceservice.org.uk">Money Advice Service</a> (see ‘Further free and impartial guidance’). Their website contains information on taking control of debt and they can also help you find a free and confidential debt advice service near you.</p>
