<!-- section: defined benefit pensions -->
<div class="page-break"></div>

<h2>Final salary or career average pensions</h2>
<p>These pensions (known as ‘defined benefit’) give you an income based on your salary and length of service with an employer. The 6 pension options only apply to personal or workplace pensions (known as ‘defined contribution’).</p>

<p>To choose one of the 6 options, you would need to transfer your defined benefit pension to a defined contribution one. The value of your defined benefit pension gets transferred as cash and is invested into a defined contribution pot. This then gives you access to the same options as people with defined contribution pensions.</p>

<h3>Key facts</h3>

<ol class="ordered-list">
  <li>Think very carefully about doing a transfer – it’s likely you’ll be worse off.</li>
  <li>A defined benefit pension gives you a guaranteed income. A transfer to a defined contribution pot will mean giving up valuable pension scheme benefits.</li>
  <li>Some employers don’t accept transfers – check first.</li>
  <li>Sometimes employers offer incentives to transfer, eg cash payments – you should think carefully about accepting these.</li>
  <li>Look out for pension scams. If an individual or company contacts you and promises great returns from a defined contribution pot or says it’s a great opportunity to free up cash, it’s probably a scam.</li>
  <li>Speak to a financial adviser before you transfer. If you have a defined benefit pension worth more than £30,000 (known as your ‘safeguarded benefits’) you legally have to get financial advice first.</li>
</ol>
