<!-- section: pension transfer -->
<div class="page-break"></div>

<h2>Pension transfers</h2>

<p>Before you transfer, you’ll need to find out if your current provider will allow you to transfer and if the provider you’re moving to will accept it.</p>

<p>Ask your current provider how long it will take to transfer and if you:</p>

<ul class="list">
  <li>have to pay fees when you transfer</li>
  <li>lose any right you have to take your money at a certain age</li>
  <li>lose any special features, eg a guaranteed annuity rate</li>
  <li>lose any right to take a tax-free lump sum of more than 25% of your pension pot</li>
</ul>

<p>You should also ask the provider you’re moving to if you’ll have to make regular payments into the new pension.</p>

<p>To help you calculate if it’s worth transferring, ask your provider how much your pot is likely to be worth when you retire. You can then shop around and get comparisons from other providers – by yourself or with help from a financial adviser.</p>

<h3>Transfer value</h3>

<p>Ask your provider what the ‘transfer value’ of your pot is. This is the amount your pot would be worth if you moved to a different provider.</p>

<p>The transfer value could be lower than your total pot value. This could mean there is an ‘early exit fee’ or your pot has been reduced or adjusted. Ask your provider to explain the difference in values.</p>

<h3>Getting financial advice</h3>

<p>You can get impartial advice about pension transfers from a regulated financial adviser.</p>

<p>You must get financial advice if you want to transfer from a:</p>

<ul class="list">
  <li>defined benefit pension worth more than £30,000</li>
  <li>defined contribution pension worth more than £30,000 with a guarantee about what you’ll be paid when you retire (eg a guaranteed annuity rate)</li>
</ul>

<h4 class="icon icon--website downshift">Go to our website for more guidance on:</h4>

<ul class="list list--arrow">
  <li><a href="https://www.moneyhelper.org.uk/en/pensions-and-retirement/building-your-retirement-pot/transferring-and-merging-pensions/transferring-your-defined-contribution-pension" class="expanded" data-url="moneyhelper.org.uk/en/pensions-and-retirement/building-your-retirement-pot/transferring-and-merging-pensions/transferring-your-defined-contribution-pension">Transferring your defined contribution pension</a></li>
</ul>
