<!-- section: ill health -->
<div class="page-break"></div>

<h2>Pensions and ill health</h2>

<h3>If you’re ill</h3>

<p>You may be able to take your pension pot early if you can’t work because you’re too ill.</p>

<p>This could be before your ’selected retirement age’ – the age you agreed with your provider to retire. Speak to your provider about the rules of your pension.</p>

<p>An ’enhanced’ or ’impaired’ annuity may pay more than a standard annuity if you smoke or have a medical condition, eg diabetes or high blood pressure.</p>

<% if appointment_50_54? %>
  <p>If you’re under 55 and have ill health you may be able to take your pension pot. Each pension scheme has a different definition of ill health and different rules for taking your pension early – speak to your provider.</p>
<% end %>

<h3>If you have a serious illness</h3>

<p>Special tax rules apply if you have a serious illness which means you’re expected to live for less than a year.</p>

<p>You may be able to take your whole pension pot tax free if all of the following apply to you:</p>

<ul class="list">
  <li>You’re expected to live for less than a year because of serious illness.</li>
  <% if appointment_50_54? %>
    <li>You don’t have more than the lifetime allowance in pension money (£1,073,100 2021/22).</li>
  <% else %>
    <li>You’re under 75 (if you’re over 75 you pay Income Tax on the lump sum).</li>
    <li>You don’t have more than the lifetime allowance in pension money (£1,073,100 2021/22).</li>
  <% end %>
</ul>

<p>Check the terms of your pension with your provider. Some pensions will keep at least 50% of your pot for your spouse or partner.</p>

<h3>Next steps:</h3>
<h4 class="pull icon icon--help">Things to consider:</h4>

<ul class="list list--questions">
  <li>Think about whether you want a cash sum now or a type of income</li>
  <li>Think about how you want to leave money behind</li>
  <li>Think about the most tax-efficient way of leaving your money – you can speak to a financial adviser to help with this</li>
</ul>

<h4 class="icon icon--questions downshift">Questions to ask your provider:</h4>
<ul class="list list--questions">
  <li>What are the rules on taking my money if I’m seriously ill?</li>
  <li>Do you have up-to-date details of who I want to leave money to (my ‘beneficiary’)?</li>
</ul>

<h4 class="icon icon--website downshift">Go to our website for more guidance on:</h4>

<ul class="list list--arrow">
  <li><a href="https://www.moneyhelper.org.uk/en/pensions-and-retirement/pension-problems/complaints/problems-with-a-decision-about-ill-health-retirement" class="expanded" data-url="moneyhelper.org.uk/en/pensions-and-retirement/pension-problems/complaints/problems-with-a-decision-about-ill-health-retirement">Problems with a decision about ill health in retirement</a></li>
</ul>
