<!-- section: benefits -->
<div class="page-break"></div>

<h2>Benefits and pension income</h2>

<p>Any money you take from your pension pot will be counted towards the income or savings that are assessed when checking your eligibility for some state benefits. This may affect your entitlement to some benefits or mean you get less money.</p>
<p>If you or anyone in your household are receiving or have received any means-tested state benefits in the last 12 months, or you plan to apply for them, you should contact the relevant paying authority to check how accessing your pension can affect your entitlement.</p>

<% if appointment_50_54? %>
  <p class="emphasise">If you or your partner take any money from your pension pot it will be your responsibility to tell The Department for Work and Pensions (DWP), HM Revenue and Customs (HMRC) or your local council.</p>

  <p>If you deliberately spend or give away money (including tax-free cash) from your pot to get or increase benefits and help with care costs, DWP, HMRC or your local council may assess your finances again and treat you as still having that money.</p>
  <p>Your other assets (eg savings and investments) may also be added to income or cash taken from your pot when you’re assessed for benefits.</p>
<% else %>
  <h3>When your pension affects your benefits</h3>
  <p>The way money from your pension is assessed depends on whether you or your partner have reached the qualifying age for Pension Credit – which is the same as your State Pension Age – use the State Pension Age calculator on <a href="https://www.gov.uk">GOV.UK</a> to check when this is.</p>

  <p>Money from your (or your partner’s) pot may affect your entitlement to benefits:</p>

  <ul class="list">
    <li>Before Pension Credit qualifying age – any income or cash sums you take from your pot.</li>
    <li>After Pension Credit qualifying age – any money still in your pot, plus any income or money you’ve already taken in chunks or in one go.</li>
  </ul>

  <p class="emphasise">It’s your responsibility to tell The Department for Work and Pensions (DWP), HM Revenue and Customs (HMRC) or your local council if you or your partner take any money from your pension pot.</p>

  <p>If you deliberately spend or give away money (including tax-free cash) from your pot to get or increase benefits and help with care costs, DWP, HMRC or your local council may assess your finances again and treat you as still having that money.</p>

  <p>Your other assets (eg savings and investments) may also be added to income or cash taken from your pot when you’re assessed for benefits.</p>
<% end %>

<h3>Getting help with benefits</h3>
<p>For more information about benefits entitlement you can speak to Citizens Advice (see ‘Other trusted sources of free and impartial guidance’).</p>
<p>Contact the International Pension Centre +44 191 218 7777 if you live abroad and you receive benefits.</p>
