<!-- section: benefits -->
<div class="page-break"></div>

<h2>Benefits and pension income</h2>
<p>If you’re claiming benefits or planning to apply for means-tested benefits in the future, any income from your pension pot will be taken into account. This may affect your entitlement to some benefits or mean you get less money.</p>

<h3>When your pension affects your benefits</h3>
<p>The way money from your pension is assessed depends on whether you or your partner have reached the qualifying age for Pension Credit — use the State Pension calculator on <a href="https://www.gov.uk">GOV.UK</a> to check when this is.</p>

<p>Money from your (or your partner’s) pot may affect your entitlement to benefits:</p>

<ul class="list">
  <li>Before Pension Credit qualifying age — any income or cash sums you take from your pot.</li>
  <li>After Pension Credit qualifying age — any money still in your pot, plus any income or money you’ve already taken in chunks or in one go.</li>
</ul>

<p class="emphasise">It’s your responsibility to tell the Department for Work and Pensions (DWP), HM Revenue and Customs (HMRC) or your local council if you or your partner take any money from your pension pot.</p>

<p>If you deliberately spend or give away money (including tax-free cash) from your pot to get or increase benefits and help with care costs, DWP, HMRC or your local council may assess your eligibility again and treat you as still having that money.</p>

<p>Your other assets (eg savings and investments) may also be added to income or cash taken from your pot when you’re assessed for benefits.</p>

<h3>Getting help with benefits</h3>
<p>For more information about benefits entitlement you can speak to Citizens Advice (see ‘Further free and impartial guidance’). Contact the International Pension Centre if you live abroad and you receive benefits. Use the phone numbers or online enquiry form on <a href="https://www.gov.uk">GOV.UK</a>.</p>
