<!-- section: debt -->
<div class="page-break"></div>

<h2>Debt and pensions</h2>

<% if appointment_50_54? %>
  <p>When you’re able to take money from your pension pot, you should think carefully before using it to pay off any debts or mortgage. Money you take from your pot could leave you with less to live on in the future.</p>
  <p>If you have an arrangement to pay your debts at the time you take your pension, creditors may be able to access some or all of the pension income or lump sums you take.</p>
<% else %>
  <p>You should think carefully about taking money from your pension pot to pay off debts. Money you take from your pot now could leave you with less to live on in the future.</p>

  <p>If you have an arrangement to pay your debts, creditors may be able to access some or all of the pension income or lump sums you take.</p>

  <p>This includes money or income from:</p>

  <ul class="list">
    <li>A guaranteed income (annuity)</li>
    <li>An adjustable income</li>
    <li>Cash in chunks</li>
    <li>Taking your whole pot in one go</li>
  </ul>
<% end %>

<p class="emphasise">Find out the status of any debt arrangement you have before choosing a pension option.</p>

<h3>Getting help with debt</h3>

<p>If you are considering taking pension payments to pay off debts, there may be other debt repayment options, and debt advice may be able to help you choose which debt solution best suits your needs.</p>

<p>Take your time when deciding what to do with your pot and don’t rush into a decision. For more information about debt you can speak to the MoneyHelper Money Guidance Helpline (see ‘Additional resources on the MoneyHelper website which may interest you’). There is a lot of useful information about debt management on the MoneyHelper website, and many useful online tools: <a href="https://www.moneyhelper.org.uk/en/money-troubles/dealing-with-debt">moneyhelper.org.uk/en/money-troubles/dealing-with-debt</a></p>

<p>There are lots of free advice services available across the UK. The debt locator tool on the MoneyHelper website can help you find the best type of advice to suit your needs. It signposts to telephone and online help - <a href="https://www.moneyhelper.org.uk/en/money-troubles/dealing-with-debt/debt-advice-locator">moneyhelper.org.uk/en/money-troubles/dealing-with-debt/debt-advice-locator</a></p>

<p>Citizens Advice provides free, independent and impartial debt advice - <a href="https://www.citizensadvice.org.uk/debt-and-money/">www.citizensadvice.org.uk/debt-and-money</a></p>

<p>Citizens Advice Scotland: You can talk about debt issues with a trained adviser online - <a href="https://www.citizensadvice.org.uk/scotland/debt-and-money/">www.citizensadvice.org.uk/scotland/debt-and-money/</a></p>

<p>Support for Northern Ireland - <a href="https://www.citizensadvice.org.uk/about-us/northern-ireland/">www.citizensadvice.org.uk/about-us/northern-ireland</a></p>

<h4 class="icon icon--website downshift">Go to our website for more guidance on:</h4>

<ul class="list list--arrow">
  <li><a href="https://www.moneyhelper.org.uk/en/pensions-and-retirement/pension-problems/using-your-pension-to-pay-off-debts" class="expanded" data-url="moneyhelper.org.uk/en/pensions-and-retirement/pension-problems/using-your-pension-to-pay-off-debts">Using your pension to pay off debts</a></li>
</ul>
