<!-- section: ill health -->
<div class="page-break"></div>

<h2>Pensions and ill health</h2>
<p>Special tax rules apply if you have a serious illness which means you’re expected to live for less than a year.</p>

<p>You may be able to take your whole pension pot tax free if all of the following apply to you:</p>

<ul class="list">
  <li>You’re expected to live for less than a year because of serious illness.</li>
  <li>You’re under 75 (if you’re over 75 you pay 45% tax on the lump sum).</li>
  <li>You don’t have more than the lifetime allowance of £1.25 million (£1m after April 2016) in pension money.</li>
</ul>

<p>Check the terms of your pension with your provider. Some pensions will keep at least 50% of your pot for your spouse or partner.</p>

<p>If you’re under 55 you may be able to take your pot early – speak to your provider to find out.</p>

<h3>Next steps:</h3>
<h4 class="pull icon icon--help">Things to consider:</h4>

<ul class="list list--questions">
  <li>Think about whether you want a cash sum now or a type of income.</li>
  <li>Think about how you want to leave money behind.</li>
</ul>

<h4 class="icon icon--questions downshift">Questions to ask your provider:</h4>
<ul class="list list--questions">
  <li>What are the rules on taking my money if I’m seriously ill?</li>
</ul>
