<!-- section: feedback -->
<div class="page-break"></div>

<h3>Adborth a chwynion</h3>

<h4>Adborth am Pension Wise</h4>

<p>Gallwch anfon e-bost at Pension Wise yn <a target="_blank" href="mailto:contact.pensionwise@moneyhelper.org.uk">contact.pensionwise@moneyhelper.org.uk</a>.</p>

<p>Gallwch hefyd ysgrifennu atom drwy'r post:</p>

<p>
Money and Pensions Service<br>
Pension Wise (MoneyHelper)<br>
Borough Hall<br>
138 Cauldwell Street<br>
Bedford MK42 9AB
</p>

<p>
Lle bo modd, dylech gynnwys eich rhif cyfeirnod trefnu (fe welwch hwn yn eich e-bost cadarnhau apwyntiad).
</p>

<h4>Cwynion</h4>

<p>
Os oes gennych gŵyn am Pension Wise, anfonwch e-bost at <a target="_blank" href="mailto:complaints@maps.org.uk">complaints@maps.org.uk</a>.
</p>
<p>
Rhowch gymaint o fanylion ag y gallwch, gan gynnwys:
  <ul>
    <li>p'un a yw eich cwyn yn ymwneud ag apwyntiad ffôn, apwyntiad wyneb yn wyneb neu unrhyw beth arall</li>
    <li>eich rhif cyfeirnod trefnu, os oes gennych un (fe welwch hwn yn eich e-bost cadarnhau)</li>
  </ul>
</p>
<p>
Byddwn yn rhoi gwybod i chi pan fyddwn wedi derbyn eich cwyn ac yn anelu at roi ymateb llawn o fewn 20 diwrnod gwaith. Os na allwn wneud hyn (e.e. os oes angen mwy o amser arnom i ymchwilio i’ch cwyn) byddwn yn rhoi gwybod i chi beth yw’r rheswm dros yr oedi a phryd y gallwch ddisgwyl ymateb.
</p>
