<!-- section: further guidance -->
<div class="page-break"></div>

<h3>Adnoddau ychwanegol ar wefan HelpwrArian  a allai fod o ddiddordeb i chi</h3>

<h4>HelpwrArian</h4>

<p>
Llinell gymorth Canllaw Pensiwn<br>
Ffôn: 0800 011 3797<br>
O dramor: +44 20 7932 5780<br>
I’r hunan-gyflogedig: 0345 602 7021
</p>

<p>
Llinell gymorth Arweiniad Ariannol<br>
Ffôn: 0800 138 7777<br>
Cymraeg: 0800 138 0555<br>
O dramor: +44 20 3553 2279
</p>

<p>
  Help gyda chostau byw<br>
  <a target="_blank" href="https://www.moneyhelper.org.uk/cy/money-troubles/cost-of-living">moneyhelper.org.uk/cy/money-troubles/cost-of-living</a><br>
  Teclyn Cynlluniwr Cyllideb<br>
  <a target="_blank" href="https://www.moneyhelper.org.uk/cy/everyday-money/budgeting/budget-planner">moneyhelper.org.uk/cy/everyday-money/budgeting/budget-planner</a><br>
  Teclyn Cymharu Blwydd-daliadau<br>
  <a target="_blank" href="https://comparison.moneyhelper.org.uk/cy/tools/annuities">comparison.moneyhelper.org.uk/cy/tools/annuities</a><br>
  Cyfeiriadur cynghorydd ymddeoliad<br>
  <a target="_blank" href="https://www.moneyhelper.org.uk/cy/pensions-and-retirement/taking-your-pension/use-our-tool-to-find-a-retirement-adviser">moneyhelper.org.uk/cy/pensions-and-retirement/taking-your-pension/use-our-tool-to-find-a-retirement-adviser</a><br>
  Teclyn Llwybrau Buddsoddi Tynnu Pensiwn<br>
  <a target="_blank" href="https://comparison.moneyhelper.org.uk/cy/tools/drawdown-investment-pathways">comparison.moneyhelper.org.uk/cy/tools/drawdown-investment-pathways</a><br>
  Cynllunio cyllideb ymddeol<br>
  <a target="_blank" href="https://www.moneyhelper.org.uk/cy/pensions-and-retirement/building-your-retirement-pot/check-the-progress-of-your-pension-and-retirement-savings">moneyhelper.org.uk/cy/pensions-and-retirement/building-your-retirement-pot/check-the-progress-of-your-pension-and-retirement-savings</a><br>
  Cyfrifiannell pensiwn<br>
  <a target="_blank" href="https://www.moneyhelper.org.uk/cy/pensions-and-retirement/pensions-basics/use-our-pension-calculator">moneyhelper.org.uk/cy/pensions-and-retirement/pensions-basics/use-our-pension-calculator</a><br>
  Rheoli eich arian mewn cyfnod ansicr<br>
  <a target="_blank" href="https://www.moneyhelper.org.uk/cy/money-troubles">moneyhelper.org.uk/cy/money-troubles</a><br>
  Camdriniaeth ariannol<br>
  <a target="_blank" href="https://www.moneyhelper.org.uk/cy/family-and-care/talk-money/financial-abuse-spotting-the-signs-and-leaving-safely">moneyhelper.org.uk/cy/family-and-care/talk-money/financial-abuse-spotting-the-signs-and-leaving-safely</a><br>
  Symud eich pensiynau yn y DU dramor<br>
  <a target="_blank" href="https://www.moneyhelper.org.uk/cy/pensions-and-retirement/building-your-retirement-pot/moving-your-uk-pension-overseas">moneyhelper.org.uk/cy/pensions-and-retirement/building-your-retirement-pot/moving-your-uk-pension-overseas</a>
</p>

<p>
Ar gyfer ymholiadau a chwynion cyffredinol am bensiynau, gan gynnwys help i
osgoi sgamiau pensiwn a chynilo i mewn i gynllun pensiwn. Dyled a benthyca,
cyllidebu a rheoli arian, cynilo a buddsoddi, pensiynau ac ymddeoliad 30,
gwaith a diswyddiadau, budd-daliadau, genedigaethau, marwolaethau a theulu,
yswiriant, cartrefi a morgeisi, gofal ac anabledd, ceir a theithio.
</p>
<hr class="guidance">

<h3>Ffynonellau eraill y gellir ymddiried ynddynt am  arweiniad rhad ac am ddim a diduedd</h3>

<h4>Cyngor ar Bopeth</h4>
<p>
  Cymru a Lloegr<br>
  <a target="_blank" rel="external" href="https://www.citizensadvice.org.uk">www.citizensadvice.org.uk</a><br>
  Ffôn:<br>
  0800 144 8848 (Lloegr)<br>
  0800 702 2020 (Cymru)<br><br>

  Gogledd Iwerddon<br>
  <a target="_blank" rel="external" href="https://www.citizensadvice.org.uk/about-us/northern-ireland/">www.citizensadvice.org.uk/about-us/northern-ireland/</a><br><br>

  Yr Alban<br>
  <a target="_blank" rel="external" href="https://www.cas.org.uk">www.cas.org.uk</a><br>
  Ffôn: 0800 028 1456
</p>
<p>Ar gyfer dyled, gofal cymdeithasol, budd-daliadau'r wladwriaeth, hawliau cyflogaeth, hawliau defnyddwyr, perthnasoedd, tai, gwahaniaethu a threth.</p>
<hr class="guidance">

<h4>Pensions UK</h4>
<p>
  <a target="_blank" rel="external" href="https://www.pensionsuk.org.uk">pensionsuk.org.uk</a>
</p>
<p>Yn helpu cynilwyr i feddwl mewn ffordd ymarferol am y math o ffordd o fyw y gallent ei gael ar ôl ymddeol.</p>
<hr class="guidance">

<h4>Ombwdsmon Pensiynau</h4>
<p>
  <a target="_blank" rel="external" href="https://www.pensions-ombudsman.org.uk">www.pensions-ombudsman.org.uk</a><br>
  Ffôn: 0800 917 4487
</p>
<p>Cwynion am gamweinyddu pensiynau.</p>
<hr class="guidance">

<h4>Ombwdsmon Ariannol</h4>
<p>
  <a target="_blank" rel="external" href="https://www.financial-ombudsman.org.uk">www.financial-ombudsman.org.uk</a><br>
  Ffôn: 0800 023 4567
</p>
<p>Cwynion am werthu a marchnata pensiynau.</p>
<hr class="guidance">

<h4>Action Fraud</h4>
<p>
  <a target="_blank" rel="external" href="https://www.actionfraud.police.uk">www.actionfraud.police.uk</a><br>
  Ffôn: 0300 123 2040
</p>
<p>I gael gwybodaeth am sgamiau neu i roi gwybod am sgam.</p>
<hr class="guidance">

<h4>Cyllid a Thollau EF</h4>
<p>
  <a target="_blank" rel="external" href="https://www.gov.uk/contact-hmrc">www.gov.uk/contact-hmrc</a><br>
  Ffôn: 0300 200 3300
</p>
<p>Hunanasesiad, credydau treth, budd-dal plant, treth incwm, yswiriant gwladol, treth i gyflogwyr, TAW a chanllawiau eraill.</p>
<hr class="guidance">

<h4>Awdurdod Ymddygiad Ariannol (FCA)</h4>
<p>
  <a target="_blank" rel="external" href="https://www.fca.org.uk">www.fca.org.uk</a><br>
  Ffôn: 0800 111 6768
</p>
<p>Gwybodaeth ddefnyddiol am sgamiau</p>
<p>
Gwiriwch gofrestr yr FCA i weld os yw cwmni neu ymgynghorydd yn cael ei reoleiddio<br>
<a target="_blank" rel="external" href="https://www.fca.org.uk/register">www.fca.org.uk/register</a><br>
Rhestr wirio o gynlluniau anawdurdodedig ac unigolion i osgoi<br>
<a target="_blank" rel="external" href="https://www.fca.org.uk/consumers/warning-list-unauthorised-firms">www.fca.org.uk/consumers/warning-list-unauthorised-firms</a>
</p>
<hr class="guidance">

<h4>GOV.UK</h4>
<p>
  <a target="_blank" rel="external" href="https://www.gov.uk">www.gov.uk</a><br>
  <a target="_blank" rel="external" href="https://www.gov.uk/check-state-pension">www.gov.uk/check-state-pension</a><br>
  <a target="_blank" rel="external" href="https://www.gov.uk/find-pension-contact-details">www.gov.uk/find-pension-contact-details</a><br>
  <a target="_blank" rel="external" href="https://www.gov.uk/state-pension-age">www.gov.uk/state-pension-age</a><br>
  <a target="_blank" rel="external" href="https://www.gov.uk/guidance/check-the-recognised-overseas-pension-schemes-notification-list">www.gov.uk/guidance/check-the-recognised-overseas-pension-schemes-notification-list</a><br>
  <a target="_blank" rel="external" href="https://www.gov.uk/transferring-your-pension">www.gov.uk/transferring-your-pension</a><br>
  <a target="_blank" rel="external" href="https://www.gov.uk/estimate-income-tax">www.gov.uk/estimate-income-tax</a><br>
  <a target="_blank" rel="external" href="https://www.gov.uk/tax-on-pension/tax-when-you-live-abroad">www.gov.uk/tax-on-pension/tax-when-you-live-abroad</a><br>
  <a target="_blank" rel="external" href="https://www.gov.uk/tax-uk-income-live-abroad/taxed-twice">www.gov.uk/tax-uk-income-live-abroad/taxed-twice</a><br>
  <a target="_blank" rel="external" href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-and-capital-gains-tax-enquiries-for-non-uk-residents">www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-and-capital-gains-tax-enquiries-for-non-uk-residents</a><br>
  Ffôn:<br>
  0800 731 0175 (Canolfan Pensiwn y Dyfodol)<br>
  0800 731 0175 (Gwasanaeth Olrhain Pensiynau)<br>
  +44 191 218 7777 (Canolfan Bensiwn Ryngwladol – ar gyfer cwsmeriaid tramor ag ymholiadau Pensiwn y Wladwriaeth)
</p>
<p>
Pensiwn y wladwriaeth, olrhain pensiwn, credydau treth, genedigaethau,
marwolaethau, priodasau, ysgariad, atwrneiaeth arhosol, cyflogaeth a
hunangyflogaeth, gofal plant a magu plant, pobl anabl, tai a gwasanaethau
lleol, arian a threth, pasbortau, teithio a byw dramor.
</p>
<hr class="guidance">

<h4>MIND</h4>
<p>
  <a target="_blank" rel="external" href="https://www.mind.org.uk">www.mind.org.uk</a><br>
  Ffôn: 0300 123 3393
</p>
<p>Mathau o broblemau iechyd meddwl, ble i gael cymorth, meddyginiaeth a thriniaethau amgen ac eiriolaeth.</p>
<hr class="guidance">

<h4>Samaritans</h4>
<p>
  <a target="_blank" rel="external" href="https://www.samaritans.org">www.samaritans.org</a><br>
  Ffôn: 116 123 (UK)<br>
  E-bost: <a target="_blank" rel="external" href="mailto:jo@samaritans.org">jo@samaritans.org</a>
</p>
<p>Mae’r Samaritans yn cynnig lle diogel i bobl siarad unrhyw bryd y dymunant, yn eu ffordd eu hunain – am beth bynnag sydd ar eu meddwl. Nid oes rhaid iddynt fod yn hunanladdol i gysylltu.</p>
<hr class="guidance">

<h4>Alzheimers Society</h4>
<p>
  <a target="_blank" rel="external" href="https://www.alzheimers.org.uk">www.alzheimers.org.uk</a><br>
  Ffôn: 0333 150 3456
</p>
<p>Dementia, bywyd bob dydd, cymorth gyda gofal, aros yn annibynnol, yn gyfreithlon ac yn ariannol.</p>
<hr class="guidance">

<h3>Hysbysiad Preifatrwydd</h3>
<p>
Mae gwybodaeth am sut mae HelpwrArian yn casglu, prosesu a chadw eich data, a
gwybodaeth am eich hawliau mewn perthynas.
<a target="_blank" href="https://www.moneyhelper.org.uk/privacy">moneyhelper.org.uk/privacy</a>.
</p>
