<!-- section: inheritance tax -->
<div class="page-break"></div>

<h2>Treth pan mae’ch cronfa bensiwn yn cael ei etifeddu</h2>

<h3 class="icon icon--goal">Mae’r rheolau treth canlynol yn berthnasol i ohirio cymryd eich cronfa bensiwn, cymryd eich pensiwn fel nifer o gyfandaliadau, a chael incwm ymddeoliad hyblyg (tynnu pensiwn i lawr).</h3>

<h4>Rydych chi'n marw cyn 75</h4>
<p>Nid oes treth i’w thalu os yw’r person rydych yn gadael eich arian iddo (eich ‘buddiolwr’) yn ei hawlio o fewn 2 flynedd. Gallant gymryd cyfandaliad neu gael incwm ohono.</p>

<p>Fel arfer, byddwch yn talu treth ar gyfandaliad dros y lwfans cyfandaliad a budd-dal marwolaeth (LSDBA) (£1,073,100 yn 2025/26).</p>

<h4>Rydych chi'n marw yn 75 oed neu'n hŷn</h4>
<p>Bydd eich buddiolwr yn talu Treth Incwm ar gyfandaliadau ac unrhyw incwm y mae’n ei gymryd o’r buddsoddiadau. Fel arfer byddant yn talu treth ar bensiwn y DU hyd yn oed os ydynt yn byw dramor.</p>

<h3 class="icon icon--goal">Mae’r rheolau treth canlynol yn berthnasol i rai mathau o flwydd-daliadau y gallwch eu trosglwyddo pan fyddwch yn marw.</h3>

<h4>Rydych chi'n marw cyn 75</h4>
<p>Mae unrhyw incwm neu gyfandaliadau fel arfer yn ddi-dreth. Fel arfer, byddwch yn talu treth ar gyfandaliad dros y lwfans cyfandaliad a budd-dal marwolaeth (LSDBA) (£1,073,100 yn 2025/26).</p>

<h4>Rydych chi'n marw yn 75 oed neu'n hŷn</h4>
<p>Mae unrhyw incwm neu daliadau cyfandaliad a wneir i'ch buddiolwyr yn cael eu trethu ar eu cyfradd ymylol.</p>

<% unless large_text? %>
  <div class="page-break"></div>
<% end %>

<hr>

<h3 class="icon icon--goal">Mae’r rheolau treth canlynol yn berthnasol i gymryd eich pensiwn cyfan ar yr un pryd</h3>
<p>Dim ots pan fyddwch chi'n marw mae'r arian rydych chi'n ei drosglwyddo yn rhan o'ch ystâd (arian, eiddo ac eiddo).</p>

<p>Mae Treth Etifeddiant yn daladwy os yw eich ystâd yn werth mwy na £325,000 pan fyddwch yn marw. Gelwir hyn yn ‘drothwy Treth Etifeddiant’ a gall fod yn werth hyd at £650,000 ar gyfer parau priod neu bartneriaid sifil. Y gyfradd safonol yw 40%.</p>

<% if large_text? %>
  <div class="page-break"></div>
<% else %>
  <hr>
<% end %>

<h3>Camau nesaf</h3>
<h4 class="pull icon icon--help">Pethau i'w hystyried:</h4>

<ul class="list list--questions">
  <li>Meddyliwch am sut rydych chi eisiau gadael arian ar ôl.</li>
  <li>Meddyliwch am y ffordd fwyaf treth-effeithlon o adael eich arian – gallwch siarad â chynghorydd ariannol am help gyda hyn.</li>
</ul>

<h4 class="icon icon--questions downshift">Cwestiynau i'w gofyn i'ch darparwr:</h4>
<ul class="list list--questions">
  <li>A oes gennych y manylion diweddaraf am bwy yr wyf am adael fy arian iddynt (fy ‘muddiolwr’) pan fyddaf yn marw?</li>
</ul>

<h4 class="icon icon--website downshift">Ewch i'n gwefan am ragor o arweiniad ar:</h4>
<ul class="list list--arrow">
  <li><a target="_blank" href="https://www.moneyhelper.org.uk/cy/family-and-care/death-and-bereavement/a-guide-to-inheritance-tax" class="expanded" data-url="moneyhelper.org.uk/cy/family-and-care/death-and-bereavement/a-guide-to-inheritance-tax">Treth etifeddiant</a></li>
</ul>
