<!-- section: options overview -->
<div class="page-break"></div>

<h2>Y 6 opsiwn sy’n cael eu trafod yn yr apwyntiad</h2>

<% if appointment_50_54? %>
  <!-- section: options may have changed warning -->
  <p>Dyma'r opsiynau sydd ar gael nawr. Efallai y byddent wedi newid erbyn i chi gyrraedd 55 oed (neu 57) ac yn gallu cymryd arian o'ch cronfa bensiwn.</p>
  <p>Efallai y gallwch gymryd eich cronfa yn gynt ond dim ond mewn achosion prin, e.e. ymddeoliad cynnar oherwydd afiechyd.</p>
<% end %>

<h3 class="option">1. Ymddeol yn hwyrach neu oedi cymryd eich cronfa bensiwn</h3>

<p>
  <% if appointment_50_54? %>
    Nid oes rhaid i chi gymryd arian o’ch cronfa cyn gynted ag y byddwch yn cyrraedd 55 oed.
  <% else %>
    Nid oes rhaid i chi gymryd arian o’ch cronfa yn syth.
  <% end %>
  Gallwch adael eich arian wedi’i fuddsoddi a’i gymryd pan fyddwch yn barod. Gallai eich cronfa dyfu ymhellach a rhoi mwy o arian i chi bara am gyfnod byrrach. Efallai y bydd gennych hefyd fwy o ddewis yn y dyfodol os bydd darparwyr pensiwn yn cyflwyno cynhyrchion newydd.
</p>

<h3 class="option">2. Cael incwm ymddeol gwarantedig (blwydd-dal)</h3>
<p>Mae hwn yn bolisi yswiriant yr ydych yn ei brynu i roi incwm gwarantedig i chi, fel arfer am weddill eich oes neu am nifer penodol o flynyddoedd. Gallwch gymryd hyd at 25% o’ch cronfa yn ddi-dreth cyn i chi brynu blwydd-dal. Mae yna wahanol fathau o flwydd-daliadau ac mae’n bwysig eich bod yn prynu’r un sy’n iawn i chi.</p>

<h3 class="option"> 3. Cael incwm ymddeoliad hyblyg (tynnu pensiwn i lawr)</h3>
<p>Gallwch gymryd hyd at 25% o'ch cronfa yn ddi-dreth. Mae'r gweddill yn cael ei fuddsoddi i roi incwm trethadwy i chi. Chi sy'n penderfynu faint rydych chi'n ei gymryd allan bob blwyddyn a pha mor hir rydych chi am i'ch arian bara. Gall gwerth eich cronfa fynd i fyny neu i lawr yn dibynnu ar eich dewisiadau buddsoddi. Gall darparwyr pensiwn ddisgrifio’r opsiwn hwn fel ‘tynnu pensiwn i lawr’.</p>

<h3 class="option">4. Cymerwch eich pensiwn fel nifer o gyfandaliadau</h3>
<p>Mae eich cronfa yn aros lle y mae a byddwch yn cymryd cyfandaliadau llai dros amser. Mae 25% o bob swm a dynnwch yn ddi-dreth ac mae'r gweddill yn drethadwy. Gallwch ledaenu’r cyfandaliadau dros sawl blwyddyn dreth a allai olygu eich bod yn talu llai o dreth. Gall darparwyr pensiwn ddisgrifio’r opsiwn hwn fel ‘Cyfandaliad Pensiwn Cronfeydd Digrisial (UFPLS).</p>

<h3 class="option">5. Cymerwch eich pensiwn cyfan ar yr un pryd</h3>
<p>Gallwch gymryd eich pensiwn cyfan ar yr un pryd. Mae 25% yn ddi-dreth a chaiff y 75% arall ei drethu ynghyd ag unrhyw incwm arall sydd gennych, e.e. o waith, cynilion neu fuddsoddiadau.</p>

<h3 class="option">6. Cymysgwch eich opsiynau</h3>
<p>Gallwch gymysgu'ch opsiynau, e.e. defnyddio rhywfaint o'ch cronfa i gael incwm ymddeoliad hyblyg a rhai i brynu incwm ymddeol gwarantedig (blwydd-dal). Os oes gennych fwy nag un gronfa, gallwch ddewis opsiynau gwahanol ar gyfer pob un, e.e. oedi cyn cymryd un gronfa bensiwn a chymryd nifer o gyfandaliadau o un arall.</p>

<p class="emphasise">Efallai y byddwch yn talu treth frys pan fyddwch yn cymryd arian o'ch cronfa. Gallwch hawlio hwn yn ôl gan Gyllid a Thollau EF – chwiliwch am ‘ad-daliad treth’ ar GOV.UK neu ffoniwch 0300 200 3300 (+44 135 535 9022 os ydych y tu allan i’r DU).</p>

<p>Gallwch ddarganfod mwy am y 6 opsiwn ar <a target="_blank" href="https://www.moneyhelper.org.uk/cy/pensions-and-retirement/pension-wise/pension-pot-options">moneyhelper.org.uk/cy/pensions-and-retirement/pension-wise/pension-pot-options</a>.</p>
