<!-- section: pension tax rules -->
<div class="page-break"></div>

<h2>Gwybodaeth bellach am Reolau Treth Pensiwn</h2>

<h3>Lwfans Oes a lwfansau cyfandaliad</h3>

<p>Roedd y lwfans oes (LTA) yn derfyn ar gyfanswm y buddion pensiwn y gallech eu cronni dros eich oes, heb wynebu taliadau treth ychwanegol.</p>
<p>Nid oedd hyn yn effeithio ar y rhan fwyaf o bobl oherwrydd roedd ond yn cael ei gymhwyso pan oedd gwerth eich holl gronfeydd pensiwn dros £1,073,100, sef y terfyn ar gyfer y flwyddyn dreth a ddaeth i ben 5 Ebrill 2024.</p>
<p>Diddymwyd yr LTA o 6 Ebrill 2024. O'r un dyddiad, cyflwynwyd lwfansau newydd sy'n cyfyngu ar yr uchafswm arian parod di-dreth y gellir ei dalu gan gynlluniau pensiwn.</p>
<p>Mae'r lwfans cyfandaliad (LSA) yn cyfyngu'r uchafswm o arian parod di-dreth sy'n daladwy yn ystod eich oes wrth gymryd arian o bensiwn i £268,275 i'r rhan fwyaf o bobl, oni bai bod rhai amddiffyniadau yn berthnasol.</p>
<p>Mae'r lwfans cyfandaliad a budd-dal marwolaeth (LSDBA) yn cyfyngu cyfanswm yr arian parod di-dreth sy'n daladwy yn ystod eich oes ac ar eich marwolaeth i £1,073,100 i'r mwyafrif o bobl, oni bai bod amddiffyniadau penodol yn berthnasol.</p>
<p>O dan drefniadau trosiannol, mae cyfandaliadau di-dreth a dalwyd cyn 6 Ebrill 2024 yn defnyddio rhan o'ch LSA a'ch LSDBA. Mae cyfandaliad a delir dros y lwfansau hyn yn destuyn i dreth incwm ar gyfradd ymylol y derbynnydd.</p>
<p>Gallech ystyried derbyn cyngor pensiwn arbenigol gan gynghorydd ariannol rheoledig os ydych chi eisiau cyngor, neu gallwch gael rhagor o wybodaeth ar ein gwefan <a href="https://www.moneyhelper.org.uk/cy/pensions-and-retirement/building-your-retirement-pot/lifetime-allowance-for-pension-savings" target="_blank">moneyhelper.org.uk/cy/pensions-and-retirement/building-your-retirement-pot/lifetime-allowance-for-pension-savings</a> neu ffonio Llinell Gymorth Pensiwn HelpwrArian 0800 011 3797.</p>


<h3>Y lwfans blynyddol prynu arian (MPAA)</h3>

<p>Bydd rhai o'r opsiynau talu pensiwn yn cyfyngu ar eich gallu i dderbyn rhyddhad treth ar unrhyw gyfraniadau yn y dyfodol rydych chi (neu'ch cyflogwr) yn eu talu. Cyn i chi wneud penderfyniad terfynol ar godi arian dylech ystyried cymryd eich pensiwn fel nifer o gyfandaliadau, gan gyfnewid cronfeydd gwerth mwy na £10,000, cymryd arian o gynllun tynnu pensiwn i lawr a sefydlu blwydd-dal tymor penodol yn lleihau cyfanswm y rhyddhad treth byddwch yn derbyn ar cyfraniadau pensiwn i bensiwn Cyfraniadau wedi'u diffinio o £60,000 y flwyddyn i £10,000 y flwyddyn.</p>
<p>Nid yw prynu blwydd-dal gydol oes yn sbarduno'r MPAA. Nid yw cymryd arian parod di-dreth yn unig wrth sefydlu cynllun tynnu pensiwn i lawr. Dim ond pan fyddwch chi'n tynnu arian trethadwy o'r cynllun tynnu pensiwn i lawr y mae'r MPAA yn cael ei sbarduno.</p>

<h3>Ailgylchu Pensiwn</h3>

<p>Os ydych chi’n bwriadu cymryd eich cyfandaliad di-dreth wrth brynu incwm ymddeol gwarantedig neu hyblyg a thalu i mewn i’r un gronfa bensiwn neu un arall, mae angen i chi fod yn ymwybodol o ddeddfau ‘ailgylchu pensiwn’. Nid yw’r rheolau hyn yn berthnasol i gymryd eich pensiwn fel nifer o gyfandaliadau neu gymryd eich pensiwn cyfan ar yr un pryd.</p>
<p>Gallai fod yn ailgylchu pensiwn os ydych yn bwriadu defnyddio’r cyfandaliad di-dreth i dalu i mewn i bensiwn i gael gostyngiad treth.</p>
<p>Gall y rheolau olygu eich bod yn talu 55% o dreth ar y cyfandaliad di-dreth cyfan. Ni fydd ailgylchu pensiwn fel arfer yn berthnasol pan fo cyfanswm yr arian parod di-dreth a gymerwyd o'ch holl gronfeydd mewn cyfnod o 12 mis o dan £7,500. Os ydych yn cymryd arian parod di-dreth dros y swm hwn gallech ystyried cael cyngor ariannol os ydych yn ystyried cynyddu eich cyfraniadau pensiwn o fewn 2 flynedd dreth cyn neu ar ôl cymryd y cyfandaliad.</p>

<p>Am fwy o wybodaeth gweler: <a target="_blank" rel="external" href="https://www.gov.uk/hmrc-internal-manuals/pensions-tax-manual/ptm133810">gov.uk/hmrc-internal-manuals/pensions-tax-manual/ptm133810</a>.
