<!-- section: scams -->
<div class="page-break"></div>

<h2>Byddwch yn wyliadwrus o sgamiau pensiwn</h2>

<p>Mae eich pensiynau yn werthfawr. Mae sgamwyr eisiau cymryd eich arian pensiwn. Dyma rai arwyddion rhybudd i gadw llygad amdanynt er mwyn eich cadw un cam ymlaen y twyllwyr:</p>

<ul class="list">
  <li>Mae sgamwyr yn aml yn cysylltu â chi yn ddirybudd. Gwneir hyn yn aml trwy hysbysebion naid ar gyfryngau cymdeithasol neu wefannau, neges destun, e-bost, post neu ffôn. Efallai y gofynnir i chi ddarparu eich rhif ffôn a byddwch yn derbyn galwad yn ôl gan ‘gynghorydd’. Efallai y byddan nhw’n cynnig ‘ADOLYGIADAU PENSIWN AM DDIM’, cymhellion arian parod ymlaen llaw, buddsoddiadau untro, ‘bylchau cyfreithiol’ neu ‘fentrau’r llywodraeth’. Anwybyddwch bob cyswllt annisgwyl neu hysbyseb am bensiynau hyd yn oed os yw'r person yn ymddangos yn gyfeillgar a phroffesiynol ac yn gwybod rhywfaint o wybodaeth amdanoch.</li>
  <li>Fel y gwyddoch, mae'r llywodraeth wedi gwahardd galwadau ffôn diwahoddiad am bensiynau. Os bydd rhywun yn eich ffonio’n ddirybudd ynglŷn â’ch pensiwn, mae’r alwad yn anghyfreithlon ac yn debygol o fod yn dwyllwr. Dylech derfynu’r alwad ar unwaith a rhoi gwybod i Swyddfa’r Comisiynydd Gwybodaeth (ICO) –  <a target="_blank" rel="external" href="https://ico.org.uk/make-a-complaint/nuisance-calls-and-messages">ico.org.uk/make-a-complaint/nuisance-calls-and-messages</a></li>
  <li>Nid yw gwefan slic neu ddeunydd marchnata sgleiniog yn golygu bod cwmni'n ddiogel i ddelio ag ef hyd yn oed os yw'n edrych yn ddilys. Gwiriwch a yw'r cwmni yr ydych yn delio ag ef yn ddilys trwy gysylltu â'r Awdurdod Ymddygiad Ariannol (FCA) cyn rhoi unrhyw wybodaeth bersonol i ffwrdd. Gallwch gysylltu â’r FCA ar 0800 111 6768 neu <a target="_blank" rel="external" href="https://www.fca.org.uk">www.fca.org.uk</a></li>
  <li>Cymerwch eich amser. Peidiwch byth â chael eich rhuthro i wneud penderfyniad. Weithiau bydd sgamwyr yn dweud bod cyfyngiadau amser ar gynigion a byddant yn rhoi pwysau arnoch i wneud penderfyniadau cyflym. Efallai y byddant hyd yn oed yn anfon dogfennau atoch trwy negesydd - ni ddylech fyth frysio penderfyniad am eich arian pensiwn.</li>
  <li>Efallai y byddant yn dweud wrthych y byddai'ch arian yn fwy diogel pe bai'n cael ei symud neu ei gyfnewid, weithiau'n dynwared swyddog o awdurdod rheoleiddio, eich banc neu'r Sgwad Twyll er enghraifft.</li>
  <li>Mae’n debygol o fod yn sgam os bydd rhywun yn dweud y gallant eich helpu i gael mynediad at eich arian pensiwn cyn 55 oed neu’n cynnig buddsoddiad i chi a ddisgrifir fel ‘unigryw’, ‘tramor’, ‘cyfeillgar i’r amgylchedd’, ‘moesegol’ neu mewn diwydiant ‘newydd’.</li>
</ul>

<p class="emphasise">Unwaith y byddwch wedi trosglwyddo eich arian pensiwn i mewn i sgam, mae’n rhy hwyr. Gallech golli eich holl arian ac wynebu tâl treth o hyd at 55%. Efallai y bydd eich darparwr hefyd yn codi ffioedd arnoch.</p>

<p>Os ydych yn meddwl eich bod wedi dioddef sgam pensiwn ffoniwch Action Fraud ar 0300 123 2040 (+44 300 123 2040 o’r tu allan i’r DU) neu riportiwch ef ar eu gwefan <a href="https://www.actionfraud.police.uk/reporting-fraud-and-cyber-crime" target="_blank" rel="external">www.actionfraud.police.uk/reporting-fraud-and-cyber-crime</a>. Action Fraud yw’r ganolfan adrodd am dwyll a throseddau rhyngrwyd ar gyfer Cymru, Lloegr a Gogledd Iwerddon. Os ydych chi yn yr Alban rhowch wybod i Police Scotland yn uniongyrchol drwy ffonio 101.</p>

<h4 class="icon icon--website downshift">Ewch i'n gwefan am ragor o arweiniad ar:</h4>
<ul class="list list--arrow">
  <li><a target="_blank" href="https://www.moneyhelper.org.uk/cy/money-troubles/scams/how-to-spot-a-pension-scam" class="expanded" data-url="moneyhelper.org.uk/cy/money-troubles/scams/how-to-spot-a-pension-scam">Sut i adnabod sgam pensiwn a beth i'w wneud os ydych wedi cael eich twyllo</a></li>
</ul>
