<!-- section: pension transfer -->
<div class="page-break"></div>

<h2>Trosglwyddiadau pensiwn</h2>

<p>Cyn i chi drosglwyddo, bydd angen i chi ddarganfod a fydd eich darparwr presennol yn caniatáu i chi drosglwyddo ac a fydd y darparwr yr ydych yn symud iddo yn ei dderbyn.</p>

<p>Gofynnwch i’ch darparwr presennol faint o amser y bydd yn ei gymryd i drosglwyddo ac os ydych:</p>

<ul class="list">
  <li>yn gorfod talu ffioedd pan fyddwch yn trosglwyddo</li>
  <li>yn colli unrhyw hawl sydd gennych i gymryd eich arian ar oedran penodol</li>
  <li>yn colli unrhyw nodweddion arbennig, e.e. cyfradd blwydd-dal gwarantedig</li>
  <li>yn colli unrhyw hawl i gymryd cyfandaliad di-dreth o fwy na 25% o'ch cronfa bensiwn</li>
</ul>

<p>Dylech hefyd ofyn i’r darparwr rydych yn symud iddo a fydd yn rhaid i chi wneud taliadau rheolaidd i’r pensiwn newydd.</p>

<p>I’ch helpu i gyfrifo a yw’n werth trosglwyddo, gofynnwch i’ch darparwr faint mae’ch cronfa yn debygol o fod yn werth pan fyddwch yn ymddeol. Yna gallwch chi siopa o gwmpas a chael cymariaethau gan ddarparwyr eraill - ar eich pen eich hun neu gyda chymorth cynghorydd ariannol.</p>

<h3>Gwerth trosglwyddo</h3>

<p>Gofynnwch i’ch darparwr beth yw ‘gwerth trosglwyddo’ eich cronfa. Dyma faint fyddai gwerth eich cronfa pe baech yn symud i ddarparwr gwahanol.</p>

<p>Gallai'r gwerth trosglwyddo fod yn is na chyfanswm gwerth eich cronfa. Gallai hyn olygu bod ‘ffi gadael yn gynnar’ neu fod eich cronfa wedi’i lleihau neu ei haddasu. Gofynnwch i'ch darparwr esbonio'r gwahaniaeth mewn gwerthoedd.</p>

<h3>Cael cyngor ariannol</h3>

<p>Gallwch gael cyngor diduedd am drosglwyddiadau pensiwn gan gynghorydd ariannol rheoledig.</p>

<p>Rhaid i chi gael cyngor ariannol os ydych am drosglwyddo o:</p>

<ul class="list">
  <li>pensiwn buddion wedi’u diffinio gwerth mwy na £30,000</li>
  <li>pensiwn cyfraniadau wedi’u diffinio gwerth mwy na £30,000 gyda gwarant am yr hyn a delir i chi pan fyddwch yn ymddeol (e.e. cyfradd blwydd-dal gwarantedig)</li>
</ul>

<h4 class="icon icon--website downshift">Ewch i'n gwefan am ragor o arweiniad ar:</h4>

<ul class="list list--arrow">
  <li><a target="_blank" href="https://www.moneyhelper.org.uk/cy/pensions-and-retirement/building-your-retirement-pot/transferring-your-defined-contribution-pension" class="expanded" data-url="moneyhelper.org.uk/cy/pensions-and-retirement/building-your-retirement-pot/transferring-your-defined-contribution-pension">Trosglwyddo eich pensiwn cyfraniadau wedi’u diffinio</a></li>
</ul>
