<!-- section: debt -->
<div class="page-break"></div>

<h2>Dyled a phensiynau</h2>

<p>Pan fyddwch chi'n gallu cymryd arian o'ch cronfa pensiwn, dylech feddwl yn ofalus cyn ei ddefnyddio i dalu unrhyw ddyledion neu forgais. Gallai arian rydych chi'n ei ddefnyddio o'ch cronfa eich gadael gyda llai i fyw arno yn y dyfodol.</p>
<p>Os oes gennych drefniant i dalu eich dyledion ar yr adeg y byddwch yn cymryd eich pensiwn, efallai y bydd credydwyr yn gallu cael mynediad at rywfaint neu'r cyfan o'r incwm pensiwn neu'r cyfandaliadau a gymerwch.</p>

<p class="emphasise">Darganfyddwch statws unrhyw drefniant dyled sydd gennych cyn dewis opsiwn pensiwn.</p>

<h3>Cael help gyda dyled</h3>

<p>Os ydych chi'n ystyried cymryd arian o'ch pensiwn i ad-dalu dyledion, efallai y bydd opsiynau ad-dalu dyled eraill y dylid eu hystyried hefyd, ac efallai y bydd cyngor ar ddyledion yn gallu eich helpu i ddewis pa ddatrysiad dyled sydd fwyaf addas i'ch anghenion.</p>

<p>Cymerwch eich amser wrth benderfynu beth i'w wneud â'ch cronfa a pheidiwch â rhuthro i benderfyniad. I gael rhagor o wybodaeth am ddyled gallwch siarad â Llinell Gymorth Arweiniad Arian HelpwrArian (gweler ‘Adnoddau ychwanegol ar wefan HelpwrArian a allai fod o ddiddordeb i chi’). Mae llawer o wybodaeth ddefnyddiol am reoli dyled ar wefan HelpwrArian, a llawer o declynnau ar-lein defnyddiol: <a target="_blank" href="https://www.moneyhelper.org.uk/cy/money-troubles/dealing-with-debt">moneyhelper.org.uk/cy/money-troubles/dealing-with-debt</a></p>

<p>Mae llawer o wasanaethau cyngor am ddim ar gael ledled y DU. Gall y teclyn lleolwr dyledion ar wefan HelpwrArian eich helpu i ddod o hyd i'r math gorau o gyngor sy'n gweddu i'ch anghenion yn eich gwlad neu ranbarth. Mae'n cyfeirio at gymorth ffôn ac ar-lein - <a target="_blank" href="https://www.moneyhelper.org.uk/cy/money-troubles/dealing-with-debt/debt-advice-locator">moneyhelper.org.uk/cy/money-troubles/dealing-with-debt/debt-advice-locator</a></p>

<h4 class="icon icon--website downshift">Ewch i'n gwefan am fwy o arweiniad:</h4>

<ul class="list list--arrow">
  <li><a target="_blank" href="https://www.moneyhelper.org.uk/cy/pensions-and-retirement/pension-problems/using-your-pension-to-pay-off-debts" class="expanded" data-url="moneyhelper.org.uk/cy/pensions-and-retirement/pension-problems/using-your-pension-to-pay-off-debts">Defnyddio eich pensiwn i dalu dyledion</a></li>
</ul>
