<!-- section: debt -->
<div class="page-break"></div>

<h2>Dyled a phensiynau</h2>

<% if appointment_50_54? %>
  <p>Pan fyddwch yn gallu cymryd arian o’ch cronfa bensiwn, dylech feddwl yn ofalus cyn ei ddefnyddio i dalu unrhyw ddyledion neu forgais. Gallai arian a gymerwch o'ch cronfa adael llai i chi fyw arno yn y dyfodol.</p>
  <p>Os oes gennych drefniant i dalu'ch dyledion ar yr adeg y byddwch yn cymryd eich pensiwn, efallai y bydd credydwyr yn gallu cael mynediad at rywfaint neu'r cyfan o'r incwm pensiwn neu gyfandaliadau a gymerwch.</p>
<% else %>
  <!-- TODO -->
  <p>You should think carefully about taking money from your pension pot to pay off debts. Money you take from your pot now could leave you with less to live on in the future.</p>

  <p>If you have an arrangement to pay your debts, creditors may be able to access some or all of the pension income or lump sums you take.</p>

  <p>This includes money or income from:</p>

  <ul class="list">
    <li>A guaranteed retirement income (annuities)</li>
    <li>A flexible retirement income (pension drawdown)</li>
    <li>Take your pension as a number of lump sums</li>
    <li>Taking your whole pension in one go</li>
  </ul>
<% end %>

<p class="emphasise">Darganfyddwch statws unrhyw drefniant dyled sydd gennych cyn dewis opsiwn pensiwn.</p>

<h3>Cael help gyda dyled</h3>

<p>Os ydych yn ystyried cymryd taliadau pensiwn i dalu dyledion, efallai y bydd opsiynau eraill ar gyfer ad-dalu dyledion, ac efallai y gall cyngor ar ddyledion eich helpu i ddewis pa ddatrysiad dyled sydd fwyaf addas ar gyfer eich anghenion.</p>

<p>Cymerwch eich amser wrth benderfynu beth i'w wneud â'ch cronfa a pheidiwch â rhuthro i benderfyniad. I gael rhagor o wybodaeth am ddyled gallwch siarad â Llinell Gymorth Arweiniad Arian HelpwrArian (gweler ‘Adnoddau ychwanegol ar wefan HelpwrArian a allai fod o ddiddordeb i chi’). Mae llawer o wybodaeth ddefnyddiol am reoli dyled ar wefan HelpwrArian, a llawer o declynnau ar-lein defnyddiol: <a target="_blank" href="https://www.moneyhelper.org.uk/cy/money-troubles/dealing-with-debt">moneyhelper.org.uk/cy/money-troubles/dealing-with-debt</a></p>

<p>Mae llawer o wasanaethau cynghori am ddim ar gael ledled y DU. Gall y teclyn Lleolwr cyngor ar ddyledion ar wefan HelpwrArian eich helpu i ddod o hyd i’r math gorau o gyngor i weddu i’ch anghenion. Mae’n cyfeirio at gymorth dros y ffôn ac ar-lein - <a target="_blank" href="https://www.moneyhelper.org.uk/cy/money-troubles/dealing-with-debt/debt-advice-locator">moneyhelper.org.uk/cy/money-troubles/dealing-with-debt/debt-advice-locator</a></p>

<p>Mae Cyngor ar Bopeth yn darparu cyngor annibynnol a diduedd ar ddyledion am ddim - <a target="_blank" rel="external" href="https://www.citizensadvice.org.uk/cymraeg/Dyled-ac-arian/">www.citizensadvice.org.uk/cymraeg/Dyled-ac-arian</a></p>

<p>Citizens Advice Scotland: Gallwch siarad am faterion dyled gyda chynghorydd hyfforddedig ar-lein - <a target="_blank" rel="external" href="https://www.citizensadvice.org.uk/scotland/debt-and-money/">www.citizensadvice.org.uk/scotland/debt-and-money/</a></p>

<p>Cefnogaeth i Ogledd Iwerddon - <a target="_blank" rel="external" href="https://www.citizensadvice.org.uk/about-us/northern-ireland/">www.citizensadvice.org.uk/about-us/northern-ireland</a></p>

<h4 class="icon icon--website downshift">Ewch i'n gwefan am ragor o arweiniad ar:</h4>

<ul class="list list--arrow">
  <li><a target="_blank" href="https://www.moneyhelper.org.uk/cy/pensions-and-retirement/pension-problems/using-your-pension-to-pay-off-debts" class="expanded" data-url="moneyhelper.org.uk/cy/pensions-and-retirement/pension-problems/using-your-pension-to-pay-off-debts">Defnyddio eich pensiwn i dalu dyledion</a></li>
</ul>
