<!-- section: benefits -->
<div class="page-break"></div>

<h2>Budd-daliadau ac incwm pensiwn</h2>

<p>Bydd unrhyw arian a gymerwch o’ch cronfa bensiwn yn cael ei gyfrif tuag at yr incwm neu’r cynilion a asesir wrth wirio a ydych yn gymwys ar gyfer rhai budd-daliadau’r wladwriaeth. Gall hyn effeithio ar eich hawl i rai budd-daliadau neu olygu eich bod yn cael llai o arian.</p>
<p>Os ydych chi neu unrhyw un yn eich cartref yn cael neu wedi derbyn unrhyw fudd-daliadau’r wladwriaeth sy’n dibynnu ar brawf modd yn ystod y 12 mis diwethaf, neu os ydych yn bwriadu gwneud cais amdanynt, dylech gysylltu â’r awdurdod talu perthnasol i wirio sut y gall cael mynediad at eich pensiwn effeithio ar eich hawl.</p>

<% if appointment_50_54? %>
  <p class="emphasise">Os byddwch chi neu’ch partner yn cymryd unrhyw arian o’ch cronfa bensiwn eich cyfrifoldeb chi fydd dweud wrth yr Adran Gwaith a Phensiynau (DWP), Cyllid a Thollau EF (CThEF) neu’ch cyngor lleol.</p>

  <p>Os ydych chi’n gwario neu’n rhoi arian i ffwrdd yn fwriadol (gan gynnwys arian parod di-dreth) o’ch cronfa i gael neu gynyddu budd-daliadau a help gyda chostau gofal, efallai y bydd DWP, CThEF neu’ch cyngor lleol yn asesu’ch cyllid eto ac yn eich trin fel rhywun sydd â’r arian hwnnw o hyd.</p>
  <p>Efallai y bydd eich asedau eraill (e.e. cynilion a buddsoddiadau) hefyd yn cael eu hychwanegu at incwm neu arian parod a gymerir o'ch cronfa pan fyddwch chi'n cael eich asesu ar gyfer budd-daliadau.</p>
<% else %>
  <!-- TODO -->
  <h3>When your pension affects your benefits</h3>
  <p>The way money from your pension is assessed depends on whether you or your partner have reached the qualifying age for Pension Credit – which is the same as your State Pension Age – use the State Pension Age calculator on <a target="_blank" rel="external" href="https://www.gov.uk/state-pension-age">gov.uk/state-pension-age</a> to check when this is.</p>

  <p>Money from your (or your partner’s) pot may affect your entitlement to benefits:</p>

  <ul class="list">
    <li>Before Pension Credit qualifying age – any income or cash sums you take from your pot.</li>
    <li>After Pension Credit qualifying age – any money still in your pot, plus any income or money you’ve already taken in lump sums or in one go.</li>
  </ul>

  <p class="emphasise">It’s your responsibility to tell The Department for Work and Pensions (DWP), HM Revenue and Customs (HMRC) or your local council if you or your partner take any money from your pension pot.</p>

  <p>If you deliberately spend or give away money (including tax-free cash) from your pot to get or increase benefits and help with care costs, DWP, HMRC or your local council may assess your finances again and treat you as still having that money.</p>

  <p>Your other assets (eg savings and investments) may also be added to income or cash taken from your pot when you’re assessed for benefits.</p>
<% end %>

<h3>Cael cymorth gyda budd-daliadau</h3>
<p>I gael mwy o wybodaeth am hawl i fudd-daliadau gallwch siarad â Chyngor ar Bopeth (gweler ‘Ffynonellau eraill o ganllawiau diduedd ac am ddim y gellir ymddiried ynddynt’).</p>
<p>Cysylltwch â'r Ganolfan Bensiynau Ryngwladol +44 191 218 7777 os ydych yn byw dramor a'ch bod yn derbyn budd-daliadau.</p>
