<!-- section: benefits -->
<div class="page-break"></div>

<h2>Incwm budd-daliadau a phensiwn</h2>

<p>Bydd unrhyw arian a gymerwch o'ch cronfa bensiwn yn cael ei gyfrif tuag at yr incwm neu'r cynilion sy'n cael eu hasesu wrth wirio eich cymhwysedd ar gyfer rhai budd-daliadau'r wladwriaeth. Gall hyn effeithio ar eich hawl i rai budd-daliadau neu olygu eich bod yn cael llai o arian.</p>
<p>Os ydych chi neu unrhyw un yn eich cartref yn derbyn neu wedi derbyn unrhyw fudd-daliadau'r wladwriaeth sy'n seiliedig ar brawf modd yn ystod y 12 mis diwethaf, neu os ydych chi'n bwriadu gwneud cais amdanynt, dylech gysylltu â'r awdurdod talu perthnasol i wirio sut y gall cael mynediad i'ch pensiwn effeithio ar eich hawl.</p>

<h3>Pan fydd eich pensiwn yn effeithio ar eich budd-daliadau</h3>
<p>Mae'r ffordd y caiff arian o'ch pensiwn ei asesu yn dibynnu ar a ydych chi neu'ch partner wedi cyrraedd yr oedran cymhwyso ar gyfer Credyd Pensiwn – sydd yr un fath â'ch Oedran Pensiwn y Wladwriaeth – defnyddiwch gyfrifiannell Oedran Pensiwn y Wladwriaeth ar <a target="_blank" rel="external" href="https://www.gov.uk/state-pension-age">gov.uk/state-pension-age</a> i wirio pryd mae hyn.</p>
<p>Gall cymryd arian o'ch cronfa, boed yn arian parod di-dreth, cyfandaliadau neu incwm, effeithio ar eich hawl i fudd-daliadau, neu hawl eich partner neu aelodau eraill o'ch cartref.</p>
<p>Os ydych chi neu unrhyw un yn eich cartref yn hawlio budd-daliadau, cyfrifoldeb yr hawliwr budd-daliadau yw dweud wrth yr awdurdod sy'n talu budd-daliadau (yr Adran Gwaith a Phensiynau (DWP), Cyllid a Thollau EF (CThEF) neu'ch cyngor lleol) os ydych chi neu'ch partner yn cymryd unrhyw arian o'ch cronfa bensiwn.</p>
<p>Os byddwch yn gwario neu'n rhoi arian (gan gynnwys arian di-dreth) o'ch cronfa yn fwriadol i osgoi gostyngiad yn, neu i ddechrau cael, neu i gynyddu budd-daliadau a chymorth gyda chostau gofal, gall DWP, CThEF neu'ch cyngor lleol asesu eich cyllid eto a’ch trin fel bod gennych yr arian hwnnw o hyd.</p>
<p>Efallai y bydd eich asedau eraill (e.e. cynilion a buddsoddiadau) hefyd yn cael eu hychwanegu at incwm neu arian parod a gymerir o'ch cronfa pan fyddwch chi'n cael eich asesu ar gyfer budd-daliadau.</p>

<h3>Cael help gyda budd-daliadau</h3>
<p>I gael rhagor o wybodaeth am hawl budd-daliadau, gallwch siarad â Chyngor ar Bopeth (gweler 'Ffynonellau dibynadwy eraill o ganllawiau am ddim a diduedd').</p>
<p>Cysylltwch â'r Ganolfan Bensiwn Ryngwladol +44 191 218 7777 os ydych chi'n byw dramor ac rydych chi'n derbyn budd-daliadau.</p>
