<!-- section: ill health -->
<div class="page-break"></div>

<h2>Pensiynau ac afiechyd</h2>

<h3>Os ydych yn sâl</h3>

<p>Efallai y gallwch gymryd eich cronfa bensiwn yn gynnar os na allwch weithio oherwydd eich bod yn rhy sâl.</p>

<p>Gallai hyn fod cyn eich ‘oedran ymddeol dethol’ – yr oedran y gwnaethoch gytuno arno gyda’ch darparwr i ymddeol. Siaradwch â'ch darparwr am reolau eich pensiwn.</p>

<p>Gall blwydd-dal ‘uwch’ neu ‘wedi amharu’ dalu mwy na blwydd-dal safonol os ydych yn ysmygu neu os oes gennych gyflwr meddygol, e.e. diabetes neu bwysedd gwaed uchel.</p>

<% if appointment_50_54? %>
  <p>Os ydych o dan 55 oed ac yn dioddef o salwch efallai y gallwch gymryd eich pensiwn. Mae gan bob cynllun pensiwn ddiffiniad gwahanol o salwch a rheolau gwahanol ar gyfer cymryd eich pensiwn yn gynnar – siaradwch â’ch darparwr.</p>
<% end %>

<h3>Os oes gennych salwch difrifol</h3>

<p>Mae rheolau treth arbennig yn berthnasol os oes gennych salwch difrifol sy’n golygu bod disgwyl i chi fyw am lai na blwyddyn.</p>

<p>Efallai y gallwch gymryd eich pensiwn cyfan yn ddi-dreth os yw pob un o’r canlynol yn berthnasol i chi:</p>

<ul class="list">
  <li>Disgwylir i chi fyw am lai na blwyddyn oherwydd salwch difrifol.</li>
  <% if appointment_50_54? %>
    <li>Nid oes gennych fwy na’r lwfans cyfandaliad a budd-dal marwolaeth mewn arian pensiwn  (£1,073,100 yn 2025/26).</li>
  <% else %>
    <li>Rydych o dan 75 (os ydych dros 75 oed rydych yn talu Treth Incwm ar y cyfandaliad).</li>
    <!-- TODO -->
    <li>You don’t have more than the lump sum and death benefit allowance in pension money (£1,073,100 in 2025/26).</li>
  <% end %>
</ul>

<p>Gwiriwch delerau eich pensiwn gyda’ch darparwr. Bydd rhai pensiynau yn cadw o leiaf 50% o'ch cronfa ar gyfer eich priod neu bartner.</p>

<h3>Camau nesaf:</h3>
<h4 class="pull icon icon--help">Pethau i'w hystyried:</h4>

<ul class="list list--questions">
  <li>Meddyliwch a ydych chi eisiau swm o arian nawr neu fath o incwm</li>
  <li>Meddyliwch am sut rydych chi am adael arian ar ôl</li>
  <li>Meddyliwch am y ffordd fwyaf treth-effeithlon o adael eich arian – gallwch siarad â chynghorydd ariannol i helpu gyda hyn</li>
</ul>

<h4 class="icon icon--questions downshift">Cwestiynau i'w gofyn i'ch darparwr:</h4>
<ul class="list list--questions">
  <li>Beth yw'r rheolau ar gyfer cymryd fy arian os ydw i'n ddifrifol wael?</li>
  <li>A oes gennych y manylion diweddaraf am bwy yr wyf am adael arian iddynt (fy ‘muddiolwr’)?</li>
</ul>

<h4 class="icon icon--website downshift">Ewch i'n gwefan am ragor o arweiniad ar:</h4>

<ul class="list list--arrow">
  <li><a target="_blank" href="https://www.moneyhelper.org.uk/cy/pensions-and-retirement/taking-your-pension/early-retirement-because-of-illness-sickness-or-disability" class="expanded" data-url="moneyhelper.org.uk/cy/pensions-and-retirement/taking-your-pension/early-retirement-because-of-illness-sickness-or-disability">Problemau gyda phenderfyniad am afiechyd ar ôl ymddeol</a></li>
</ul>
