<!-- section: defined benefit pensions -->
<div class="page-break"></div>

<h2>Trosglwyddo cyflog terfynol neu bensiynau cyfartaledd gyrfa</h2>
<p>Mae’r pensiynau hyn (a elwir yn ‘fuddion wedi’u diffinio’) yn rhoi incwm i chi yn seiliedig ar eich cyflog a hyd eich gwasanaeth gyda chyflogwr. Dim ond i bensiynau personol neu weithle a elwir yn gyfraniadau wedi’u diffinio y mae’r 6 opsiwn pensiwn yn berthnasol.</p>

<p>I ddewis un o’r 6 opsiwn, byddai angen i chi drosglwyddo eich pensiwn buddion wedi’u diffinio i un cyfraniadau wedi’u diffinio. Mae gwerth eich pensiwn buddion wedi’u diffinio yn cael ei drosglwyddo fel arian parod ac yn cael ei fuddsoddi mewn cronfa cyfraniadau wedi’u diffinio. Mae hyn wedyn yn rhoi mynediad i chi at yr un opsiynau â phobl â phensiynau cyfraniadau wedi’u diffinio.</p>

<h3>Ffeithiau allweddol</h3>

<ol class="ordered-list">
  <li>Meddyliwch yn ofalus iawn am drosglwyddo – mae'n debygol y byddwch chi ar eich colled.</li>
  <li>Mae pensiwn buddion wedi’u diffinio yn rhoi incwm gwarantedig i chi. Bydd trosglwyddo i gronfa cyfraniadau wedi’u diffinio yn golygu ildio buddion cynllun pensiwn gwerthfawr.</li>
  <li>Nid yw rhai cyflogwyr yn derbyn trosglwyddiadau – gwiriwch yn gyntaf.</li>
  <li>Weithiau mae cyflogwyr yn cynnig cymhellion i drosglwyddo, e.e. taliadau arian parod – dylech feddwl yn ofalus am dderbyn y rhain.</li>
  <li>Cadwch lygad allan am sgamiau pensiwn. Os bydd unigolyn neu gwmni yn cysylltu â chi ac yn addo enillion gwych o gronfa cyfraniadau wedi’u diffinio neu’n dweud ei fod yn gyfle gwych i ryddhau arian parod, mae’n debyg mai sgam ydyw.</li>
  <li>Siaradwch â chynghorydd ariannol cyn i chi drosglwyddo. Os oes gennych chi bensiwn buddion wedi’u diffinio sy’n werth mwy na £30,000 (a elwir yn ‘fudd-daliadau a ddiogelir’) yn gyfreithiol mae’n rhaid i chi gael cyngor ariannol yn gyntaf.</li>
</ol>

<h4 class="icon icon--website downshift">Ewch i'n gwefan am ragor o arweiniad ar:</h4>

<ul class="list list--arrow">
  <li><a target="_blank" href="https://www.moneyhelper.org.uk/cy/pensions-and-retirement/pensions-basics/defined-benefit-or-final-salary-pensions-schemes-explained" class="expanded" data-url="moneyhelper.org.uk/cy/pensions-and-retirement/pensions-basics/defined-benefit-or-final-salary-pensions-schemes-explained">Egluro cynlluniau pensiwn buddion wedi’u diffinio (neu gyflog terfynol)</a></li>
</ul>
